@keyframes wiggle {
   0 {
      transform: rotate(0)
   }

   5 % {
      transform: rotate(5deg)
   }

   10 % {
      transform: rotate(-5deg)
   }

   15 % {
      transform: rotate(5deg)
   }

   20 % {
      transform: rotate(-5deg)
   }

   25 % {
      transform: rotate(5deg)
   }

   30 % {
      transform: rotate(-5deg)
   }

   100 % {
      transform: rotate(0)
   }
   }

   @-webkit-keyframes bounce {
   0,100 %,20 %,50 %,80 % {
      -webkit-transform: translateY(0)
   }

   40 % {
      -webkit-transform: translateY(-5px)
   }

   60 % {
      -webkit-transform: translateY(-3px)
   }
   }

   @-moz-keyframes bounce {
   0,100 %,20 %,50 %,80 % {
      -moz-transform: translateY(0)
   }

   40 % {
      -moz-transform: translateY(-5px)
   }

   60 % {
      -moz-transform: translateY(-3px)
   }
   }

   @-o-keyframes bounce {
   0,100 %,20 %,50 %,80 % {
      -o-transform: translateY(0)
   }

   40 % {
      -o-transform: translateY(-5px)
   }

   60 % {
      -o-transform: translateY(-3px)
   }
   }

   @keyframes bounce {
   0,100 %,20 %,50 %,80 % {
      transform: translateY(0)
   }

   40 % {
      transform: translateY(-5px)
   }

   60 % {
      transform: translateY(-3px)
   }
   }

   .clearfix {
      clear: both
   }

   .men .women-claim,.men-claim {
      display: none
   }

   .men .men-claim {
      display: block
   }

   #best-for-me a[aria-expanded=true] .glyphicon-menu-down:before {
      content: "\e260"
   }

   #payPalButton img,#payPalCreditButton img {
      padding: 10px 43px;
      border-radius: 5px;
      background: #eee;
      text-align: center;
      height: 45px;
      display: inline-block
   }

   #payPalCreditButton img {
      background: #013087
   }

   div.ppc-btns {
      margin-right: -4px;
      margin-left: -4px
   }

   .ppc-btns .col-xs-6 {
      padding-left: 4px;
      padding-right: 4px
   }

   p.or {
      clear: both
   }

   .claim-wrap h2 {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 1.2
   }

   .claim-wrap h2 span {
      font-size: 26px;
      display: block
   }

   .claim-wrap img {
      width: 174px;
      height: 27px
   }

   .claim-wrap .claim {
      line-height: 26px;
      margin: 0 0 30px
   }

   .men-claim .claim-wrap .claim {
      margin: 0
   }

   .claim-wrap .claim h3 {
      margin-top: 20px
   }

   .claim-wrap span.h3 {
      display: block;
      font-size: 24px;
      margin-bottom: 8px;
      padding-left: 2px
   }

   .claim-wrap span.h4 {
      display: inline-block;
      font-size: 24px;
      margin: 0
   }

   .claim-wrap span.h5 {
      margin-top: 0;
      display: block;
      font-size: 22px
   }

   .men .claim-wrap.mens-claim img {
      width: 95%;
      margin-left: -6px
   }

   .men .claim-wrap.mens-module p,.men .dna-logo-container.mens-module p {
      text-align: center;
      margin-bottom: 0
   }

   .order-options h4 {
      font-family: futura-pt,Arial,Helvetica,sans-serif
   }

   .men .sub-nav,.men-sub-nav {
      display: none
   }

   .men .men-sub-nav {
      display: block
   }

   .order-options {
      background-color: #fff;
      z-index: 100
   }

   #order-options {
      -webkit-transition: all .5s ease;
      -moz-transition: position 10s;
      -ms-transition: position 10s;
      -o-transition: position 10s;
      transition: all .5s ease
   }

   .order-options h3 {
      margin: 0 0 20px;
      letter-spacing: 2px
   }

   #menu-options {
      margin-bottom: 15px
   }

   p.partner-plan {
      margin: 20px 0
   }

   #meal-plan-options .check-metabolism {
      display: none;
      background-color: #fffde6;
      border: 1px solid #fbee52;
      padding: 8px 8px 2px;
      margin-top: 20px;
      margin-bottom: 0;
      line-height: 1.1
   }

   .order-options .chef-txt {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      width: 100%;
      font-weight: 700
   }

   .order-options #every-day .chef-txt {
      padding-top: 5px
   }

   .order-options fieldset {
      margin-top: 15px;
      margin-bottom: 0
   }

   #delivery-options-legend span,#delivery-options-link span {
      font-size: 16px
   }

   #delivery-options .bogo-txt span.glyphicon-tag {
      display: inline-block;
      color: #af3eb3;
      font-size: 31px;
      vertical-align: text-top;
      padding-top: 5px;
      margin-right: 8px
   }

   .mbg {
      margin-top: 20px
   }

   .button-group label {
      text-align: center;
      cursor: pointer;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      font-weight: 400;
      padding: 13px 0;
      width: 100%;
      font-size: .8125em
   }

   .button-group label.selected,.button-group label.selected:hover {
      background-color: #fff;
      border: 2px solid #64a535;
      border-radius: 5px;
      color: #000
   }

   #delivery-options-collapse button {
      font-family: arial,sans-serif
   }

   .order-options .btn-group button:hover {
      background-color: #fff;
      border: 2px solid #64a535;
      color: #000
   }

   .order-options .btn-group button.selected:hover {
      border: 2px solid #64a535
   }

   .price {
      font-size: 2.25em;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: .85em
   }

   .order-options hr.price-hr {
      margin: 0 auto
   }

   p.mbg-text {
      font-weight: 700
   }

   .price-container {
      margin-top: 20px;
      margin-bottom: 30px
   }

   .a-day {
      font-size: 19px;
      line-height: 1.2;
      margin-left: 15px
   }

   p.free-ship-txt {
      font-size: .875em;
      font-weight: 700
   }

   #testForm {
      margin-bottom: 15px
   }

   .mbg .glyphicon.glyphicon-menu-right {
      font-size: 11px
   }

   p.mbg-text {
      font-size: 16px;
      padding-top: 12px;
      font-family: Futura-pt,Arial,sans-serif;
      line-height: 1.2
   }

   .order-options .pane1weekprice a.text-medium {
      line-height: inherit
   }

   #difference.modal {
      z-index: 1051
   }



   .bf-promo-code-ratecard{
      background-color: #000;
      color: #fff;
      font-family: futura-pt, arial, sans-serif;
      font-weight: 700;
      border-radius: 12px;
      padding: 0 5px;
      font-size: 12px;
      margin: 6px 0;
      width: 180px;
      display: inline-block;
      text-align: center;
   }


   .bf-promo-code{
      background-color: #000;
      color:#fff;
      font-family: futura-pt, arial, sans-serif;
      border-radius:18px;
      text-align: center;
      padding:3px 15px;
      font-size: 16px;
      margin:0 auto 6px;
      display: block;
      text-align: center;
   }





   @media screen and (-ms-high-contrast:active),all and (-ms-high-contrast:none) {
      img.mbg-img[src$=".svg"] {
         margin-right: 10px;
         width: 68px;
         height: 68px
      }
   }

   .mbg-img {
      margin-right: 10px;
      width: 68px;
      height: 68px
   }

   p .mbg-details-link {
      margin-left: 2px;
      font-family: Arial,sans-serif;
      font-size: 11px;
      font-weight: 500;
      text-decoration: underline;
      color: #4c4c4c
   }

   p.or {
      padding-top: 15px
   }

   p.all-new a {
      font-size: 14px
   }

   .no-thanks {
      margin-top: 15px
   }

   .no-thanks span {
      padding-top: 5px;
      display: block
   }

   input[type=checkbox]:checked:after {
      left: 1px;
      width: 16px;
      background: url(../../../images/myaccount/myprofile/autoship/green_check_checkbox.svg) center no-repeat;
      background-size: contain
   }

   .order-options legend.h5 {
      margin: 0 0 7px;
      font-weight: 400;
      padding-left: 0;
      color: #666;
      font-size: 1.375em;
      position: relative;
      z-index: 1
   }

   .btn-interstitial.selected {
      border-color: #64a535
   }

   .order-options .btn-interstitial {
      width: 50%;
      height: 50px;
      margin: 0;
      padding: 0;
      font-size: 1em;
      color: #4c4c4c;
      line-height: 1
   }

   .order-options #menu-options .btn-interstitial,.order-options #my-meals .btn-interstitial {
      height: 58px;
      width: 100%;
      text-align: left
   }

   .order-options #women.btn-interstitial {
      border-radius: 5px 0 0 5px;
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-left: 2px solid #ccc;
      border-right: 0
   }

   .order-options #every-day.btn-interstitial,.order-options #favorites.btn-interstitial {
      border-radius: 5px 5px 0 0;
      border-top: 2px solid #ccc;
      border-right: 2px solid #ccc;
      border-left: 2px solid #ccc;
      border-bottom: 0
   }

   .order-options #men.btn-interstitial {
      border-radius: 0 5px 5px 0;
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      border-left: 0
   }

   .order-options #custom.btn-interstitial,.order-options #most-day.btn-interstitial {
      border-radius: 0 0 5px 5px;
      border-left: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      border-top: 0
   }

   .order-options #menu-options #favorites.btn-interstitial .chef-txt {
      line-height: 1.2
   }

   .order-options #menu-options .btn-interstitial,.order-options #my-meals .btn-interstitial {
      padding-left: 30px
   }

   .order-options #delivery-options .btn-interstitial {
      width: 100%;
      height: 56px;
      margin: 0 0 10px;
      padding: 0 8px 0 12px;
      font-size: 1.125em;
      color: #4c4c4c;
      text-align: left
   }

   .order-options #delivery-options .btn-interstitial:last-child {
      margin: 0
   }

   #delivery-options .del-price {
      display: inline-block;
      text-align: center;
      float: right;
      vertical-align: middle;
      line-height: .8;
      font-size: 18px;
      position: relative;
      top: 2px
   }

   #delivery-options .ship-btn-txt {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 2.1
   }

   #delivery-options #bogo .ship-btn-txt,#delivery-options #pre3pay .ship-btn-txt {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2;
      font-size: 14px;
      padding-top: 0;
      white-space: initial
   }

   #delivery-options #bogo .ship-btn-txt strong,#delivery-options #pre3pay .ship-btn-txt strong {
      font-size: 16px
   }

   #delivery-options .shipfb {
      font-weight: 700;
      font-size: 13px
   }

   .del-a-day {
      font-size: 13px
   }

   .order-options #delivery-options #bogo.btn-interstitial .ship-btn-txt strong {
      color: #af3eb3
   }

   .order-options #delivery-options .btn-interstitial.selected .ship-btn-txt {
      color: #43791d
   }

   .order-options #delivery-options #bogo.btn-interstitial.selected .ship-btn-txt {
      color: #4c4c4c
   }

   .order-options #delivery-options #autodelivery.btn-interstitial.selected .ship-btn-txt,.order-options #delivery-options #month2month.btn-interstitial.selected .ship-btn-txt {
      font-weight: 700
   }

   .order-options #delivery-options .btn-interstitial.selected {
      background-color: #f0f7ec
   }

   #meal-plan-options #men.btn-interstitial.selected,#meal-plan-options #men.btn-interstitial:active,#meal-plan-options #men.btn-interstitial:focus,#menu-options #custom.btn-interstitial.selected {
      font-weight: 700;
      color: #43791d;
      background-color: #f0f7ec;
      border: 2px solid #64a535;
      border-radius: 0 5px 5px 0
   }

   #menu-options #custom.btn-interstitial.selected,#my-meals #most-day.btn-interstitial.selected {
      border-radius: 0 0 5px 5px
   }

   #meal-plan-options .btn-interstitial.selected:focus,#meal-plan-options .btn-interstitial.selected:focus-within,#menu-options .btn-interstitial.selected:focus,#menu-options .btn-interstitial.selected:focus-within {
      border-radius: 5px 0 0 5px
   }

   #order-options .btn-interstitial.selected {
      font-weight: 700;
      color: #43791d;
      background-color: #f0f7ec;
      border: 2px solid #64a535;
      border-radius: 5px 0 0 5px
   }

   #menu-options #favorites.btn-interstitial.selected,#my-meals #every-day.btn-interstitial.selected {
      border-radius: 5px 5px 0 0
   }

   .chef-sub-txt {
      color: #4c4c4c;
      font-size: 14px;
      display: block;
      line-height: 1.3
   }

   #custom .chef-sub-txt,#every-day .chef-sub-txt,#most-day .chef-sub-txt {
      padding-top: 4px
   }

   .chef-sub-txt.text-green {
      font-weight: 700;
      text-transform: uppercase
   }

   .order-options a.text-medium {
      font-size: 12px;
      text-decoration: underline;
      font-family: arial,sans-serif;
      color: #00598a;
      line-height: 2.4
   }

   #delivery-options a {
      display: inline-block
   }

   #delivery-options a#choose-delivery {
      top: 0;
      position: relative
   }

   a#delivery-options-link {
      display: none
   }

   #autodelivery-price-text {
      margin-bottom: 10px
   }

   #pane1weekprice a {
      line-height: 16px
   }

   #delivery-options legend {
      display: inline-block;
      width: 296px;
      margin: 0 0 10px
   }

   #delivery-options.in legend {
      width: 143px
   }

   .order-options #delivery-options .btn-interstitial.selected .ship-btn-txt {
      color: #43791d
   }

   .order-options #delivery-options #bogo.btn-interstitial.selected .ship-btn-txt,.order-options #delivery-options #pre3pay.btn-interstitial.selected .ship-btn-txt {
      color: #4c4c4c;
      font-weight: 300
   }

   .order-options #delivery-options .btn-interstitial {
      margin: 0;
      border-bottom-width: 0;
      border-radius: 0
   }

   .order-options #delivery-options .btn-interstitial:first-child {
      border-radius: 5px 5px 0 0
   }

   .order-options #delivery-options .btn-interstitial:last-child {
      border-bottom-width: 2px;
      border-radius: 0 0 5px 5px
   }

   .order-options #delivery-options .btn-interstitial.selected+button {
      border-top-color: #64a535
   }

   .order-options #delivery-options-collapse .btn-group {
      margin: 0 auto
   }

   .ppc-btns img {
      padding-left: 3px;
      padding-right: 3px
   }

   .order-options #add-shakes legend.h5 {
      margin-bottom: 0
   }

   .order-options #add-shakes legend.h5 span {
      font-size: 20px
   }

   #add-shakes span.yes-shakes {
      display: block;
      margin-left: 4px;
      font-size: 1em
   }

   #add-shakes .learn-more-link {
      font-size: 13px;
      margin: 10px 0 0 28px
   }

   p.add-shakes-copy {
      line-height: 1.3;
      margin-bottom: 0
   }

   .add-shakes-copy .now-price-txt,.add-shakes-copy .strike-txt {
      font-size: 14px;
      font-family: arial,sans-serif
   }

   #flav-select {
      margin-top: 12px
   }

   #shakes-learn-more .modal-title {
      padding: 4px 10px;
      width: 177px
   }

   #shakes-learn-more .modal-body {
      padding-top: 0
   }

   #shakes-learn-more .modal-body h3 {
      font-size: 1.875em;
      margin-top: 17px
   }

   #shakes-learn-more .modal-body h4 {
      font-size: 1.5em;
      margin-bottom: 30px
   }

   #shakes-learn-more .list-checked {
      margin-bottom: 20px
   }

   #add-shakes p.add-shakes-copy {
      line-height: 1;
      margin-bottom: 12px;
      font-size: 14px;
      margin-top: -5px
   }

   #choose-flavor {
      margin-left: 28px;
      width: 288px
   }

   #add-shakes label.added {
      color: #4c4c4c;
      background-color: #fffde6;
      border: 1px solid #fbee52;
      padding: 15px 0 15px 35px;
      width: 100%;
      line-height: 1
   }

   .special-offers-badge {
      font-size: 13px;
      top: -2px;
      display: inline-block;
      position: relative;
      margin-bottom: 0
   }

   #order-options .glyphicon-tag {
      animation: wiggle 3s infinite
   }

   .free-ship-txt svg {
      width: 26px
   }

   #favorites .chef-txt svg {
      width: 19px;
      height: 18px;
      position: relative;
      top: 2px
   }

   #favorites.selected .chef-txt svg .fill-color {
      fill: #006b00
   }

   input[type=submit]#personalizeBtn.btn.btn-default.btn-lg {
      background-position: 87% 50%
   }

   .plan-upgrade {
      display: none
   }

   #favorites .btn-call-out {
      background-color: transparent;
      color: #4c4c4c;
      font-weight: 400;
      font-size: 14px;
      padding-top: 7px
   }

   #every-day .btn-call-out {
      font-size: 14px
   }

   #custom span.chef-txt {
      padding-top: 0;
      text-align: left
   }

   .pp-modal-cont .ship-btn-txt {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2;
      text-align: left;
      float: left;
      font-size: 18px
   }
   .uymaxhero .price-container {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   /*UPDATE:*/
   .price-container .diff {
      color: #4c4c4c;
      font-size: 14px;
   }

   #autodelivery-savings-text, #bogo-savings-text, #pre3pay-savings-text {
      display: block;
      margin-bottom: 5px;
   }

   #autodelivery-price .pane1price strong, #bogo-price .pane1price strong, #pre3pay-price .pane1price strong  {
      border-top: 1px solid #4c4c4c;
   }

   .pane1weekprice{
      position: absolute;
      top:83px;
      right:0;
   }
   #month2month-price .pane1weekprice {
      top: 55px;
   }


















   @media(orientation: landscape) {
      .row.ppc-btns.visible-xs {
         text-align:center
      }
   }

   @media(max-width: 767px) {
      .order-options h4 {
         padding:0
      }

      .order-options .h6 {
         margin-bottom: 0
      }

      .order-options legend a {
         line-height: 1.7
      }

      .pick-meals {
         margin: 15px 0 0
      }

      .order-options .bogo-txt {
         margin: 0 auto 0
      }

      .order-options .btn-group {
         text-align: center;
         margin: 0 auto;
         width: 100%
      }

      img.lean13-logo-img {
         margin-top: 18px;
         margin-bottom: 5px;
         max-width: 12em
      }

      p#bogo-price-text {
         line-height: 1
      }

      .price-container {
         margin-bottom: 20px
      }

      .claim-wrap span.h2 {
         font-size: 28px
      }

      .men .claim-wrap.mens-module p.h1 {
         margin-top: 24px
      }

      @-moz-document url-prefix() {
         .order-options button#custom.btn-interstitial.selected {
            top: 0
         }
      }
   }

   @media(max-width: 360px) {
      #payPalButton img,#payPalCreditButton img {
         padding:10px 30px
      }

      p#monthly-price {
         font-size: .79em
      }

      .order-options legend.h5 {
         font-size: 1.3em
      }

      #choose-flavor {
         width: 253px
      }

      .order-options #menu-options .btn-interstitial.perso-btn {
         padding: 8px 0 18px 15px;
         height: 80px
      }

      .order-options .bogo-txt {
         margin: 0 5px 0
      }

      .price {
         font-size: 2.4em
      }

      #delivery-options .bogo-delivery-btn .ship-btn-txt {
         width: 162px;
         line-height: 1.1
      }

      .order-options #add-shakes legend.h5 span {
         font-size: 19px
      }

      #delivery-options #bogo .ship-btn-txt,#delivery-options #pre3pay .ship-btn-txt {
         width: 208px;
         font-size: 13px
      }

      #delivery-options #bogo .ship-btn-txt strong,#delivery-options #pre3pay .ship-btn-txt strong {
         font-size: 15px
      }
      .order-options hr.price-hr {
         margin: 15px auto;
     }
   }

   @media(max-width: 320px) {
       .bf-promo-code {
           padding: 3px 6px;
           font-size: 15px;
       }
      .hero-img-col .btn-primary-outline {
         font-size:20px
      }

      .order-options #menu-options .btn-interstitial {
         height: 80px;
         height: 66px
      }

      #menu-options #custom.btn-interstitial.selected {
         top: 1
      }

      #delivery-options .bogo-txt span.glyphicon-tag {
         font-size: 26px
      }

      #every-day .btn-call-out,#favorites .btn-call-out {
         font-size: 12px
      }

      .order-options #menu-options .btn-interstitial,.order-options #my-meals .btn-interstitial {
         padding-left: 15px
      }

      .price-container .text-medium {
         font-size: .75em
      }

      .order-options #menu-options .btn-interstitial.perso-btn {
         padding: 6px 0 18px 15px;
         height: 80px
      }

      .special-offers-badge {
         font-size: 10px;
         padding: 3px 4px
      }

      #choose-flavor {
         width: 210px
      }

      #delivery-options .ship-btn-txt {
         font-size: 15px
      }

      #delivery-options a#choose-delivery {
         top: -14px;
         position: relative
      }

      input[type=submit]#personalizeBtn.btn.btn-default.btn-lg {
         background-position: 97% 50%
      }

      .mbg-img {
         margin-right: 20px;
         width: 66px;
         height: 66px
      }

      .claim-wrap span.h4 {
         font-size: 21px
      }

      .claim-wrap span.h5 {
         font-size: 19px
      }

      .pp-modal-cont .ship-btn-txt {
         width: 150px
      }

      .chef-sub-txt {
         font-size: 12px
      }


   }

   @media only screen and (min-width: 768px) and (max-width:991px) {
      .mbg {
         margin-top:10px
      }

      #how-it-works .row {
         margin-bottom: 20px
      }
   }

   @media(min-width: 768px) {

      .bf-promo-code{
         font-size: 18px;
         padding:3px 3px;
      }
      .order-options input[type=submit].btn.btn-default {
         width:100%
      }

      #meal-plan-options legend a,#menu-options legend a,a#delivery-options-link {
         z-index: 1;
         position: relative
      }

      #delivery-options-collapse .btn-group,#meal-plan-options .btn-group,#menu-options .btn-group {
         display: block
      }

      .order-options .btn-interstitial {
         width: 50%;
         margin: 0
      }

      .order-options fieldset,.price-container {
         margin-top: 12px
      }

      .price-container {
         margin-top: 20px;
         margin-bottom: 24px
      }

      fieldset#meal-plan-options {
         margin-bottom: 15px
      }

      .order-options .bogo-txt {
         margin: 0
      }

      .order-options hr.price-hr {
         margin: 0 auto
      }

      #shakes-learn-more .modal-title {
         width: 208px
      }

      .order-options button#custom.btn-interstitial {
         top: 1px;
         position: relative;
         line-height: 1
      }

      .order-options button#custom.btn-interstitial.selected {
         top: 0;
         line-height: 1;
         margin-top: -1px
      }

      .claim-wrap h2 span {
         font-size: 38px;
         display: block
      }

      .claim-wrap img {
         width: 215px;
         height: 34px
      }

      .claim-wrap .claim {
         margin: 28px 0 30px
      }

      .claim-wrap p.small {
         padding-bottom: 6px
      }

      .claim-wrap h2 {
         font-size: 26px
      }

      .claim-wrap h2 span {
         font-size: 30px
      }

      .pp-modal-cont .ship-btn-txt {
         line-height: 2.1
      }
   }

   @media(min-width: 992px) {
      header>nav div.sub-nav-container div.sub-nav ul {
         overflow:hidden
      }

      .order-options h2.h3 {
         font-size: 1.5em;
         margin: 0 auto 20px
      }

      .order-options #meal-plan-options .btn-interstitial {
         height: 43px;
         margin: 0
      }

      #menu-options .btn-group {
         display: block
      }

      .order-options {
         min-height: 583px
      }

      .price-container {
         margin-bottom: 15px
      }

      .dailyprice {
         padding: 9px 0 0;
         width: 115px;
         margin: 0 auto
      }

      #how-it-works .row {
         margin-bottom: 20px
      }

      .modal-lead-copy {
         text-align: center
      }

      .number-icon {
         height: 65%;
         width: 65%;
         display: block;
         margin: auto
      }

      #monthly-price.one-time-ship {
         margin-top: 10px
      }

      #pane1fullprice.bogo-del-price {
         margin-bottom: 6px
      }

      .order-options #add-shakes legend.h5 span {
         font-size: 22px
      }

      .claim-wrap img {
         width: 215px;
         height: 34px
      }

      .claim-wrap h2 {
         font-size: 36px
      }

      .claim-wrap h2 span {
         font-size: 42px
      }
      /*UPDATE:*/
      #month2month-price .pane1weekprice {
         top: 40px;
      }
   }

   @media(min-width: 1200px) {
      .order-options input[type=submit].btn.btn-default {
         width:80%
      }

      #favorites .btn-call-out {
         width: 75%
      }
   }

   @media(min-width: 768px) {
      .order-options .bogo-txt .unlock-copy p {
         padding-top:12px!important
      }

      .unlock-copy .icon {
         margin: 16px 5px 0 0!important
      }

      .bogo-txt .txt {
         padding-top: 3px!important;
         width: 225px!important
      }

      .unlock-arrow {
         height: 68px!important
      }
   }

   @media(min-width: 992px) {

          .bf-promo-code-ratecard {
            font-size: 13px;
            width: 180px;
        }
      .order-options .bogo-txt {
         height:68px!important
      }

      .bogo-txt .txt {
         width: 67%!important
      }
   }

   @media(min-width: 1200px) {
      .unlock-arrow {
         height:68px!important;
         left: 55px!important
      }

      .unlock-arrow:after {
         border-top: 34px solid transparent!important;
         border-bottom: 34px solid transparent!important
      }
   }
