.text-mens-gray-darker{
  color:#29353a
}

.bg-mens-gray-darker{
  background-color:#29353a
}

.text-mens-gray{
  color:#c7c8ca
}

.bg-mens-gray{
  background-color:#c7c8ca
}

.text-mens-blue-lighter{
  color:#8cabb4
}

.bg-mens-blue-lighter{
  background-color:#8cabb4
}

.fw-900{
  font-weight:900
}

.btn-interstitial.selected{
  border-color:#f15a22
}

.btn-default{
  color:#fff;
  background-color:#f15a22;
  border-color:#f15a22
}

.h3 strong{
  font-weight:700
}

a:hover .a-day,a:hover .well{
  border-color:#64a535
}

.men .sub-nav,.men-sub-nav{
  display:none
}

.men .men-sub-nav,.plan{
  display:block
}

.action-header{
  color:#4c4c4c
}

.action-header .label{
  font-size:16px;
  color:#fff;
  background-color:#af3eb3;
  margin-top:20px
}

.action-header p.label{
  margin-bottom:10px
}

.action-header:hover{
  color:#64a535
}

.action-header:hover .bg-purple-lighter{
  color:#fff
}

.action-header:hover .btn-default{
  background-color:#f93;
  border-color:#f76200;
  color:#fff
}

.doyo-plan a,.plan,.plan a{
  text-decoration:none;
  color:inherit
}

.plan-content a:hover h2,a:hover,a:hover .amount,a:hover .amount sup,a:hover .dollarSignCents,a:hover .dollarSignCents sup,a:hover .starting-at{
  color:#64a535
}

a:hover .a-day{
  color:#64a535
}

.plan-content:hover .btn{
  background-color:#ff944d
}

.uy .well{
  background:#fff;
  border:2px solid #64a535;
  border-bottom:0;
  position:relative
}

.d-plans .uy .well{
  border:2px solid #009cdb
}

.mens-headline{
  font-size:1.5em
}

.plan-header .h4.mens-subline{
  font-size:1.125em
}

.mens-plans .uy .well{
  border-color:#0b3254
}

.uy .well.d-uy{
  border:2px solid #009cdb
}

.uy.men .well{
  border:2px solid #0b3254
}

.mens-plans .btn{
  border-radius:24px;
  font-family:korolev,sans-serif;
  font-size:1.1875em;
  text-transform:none;
  font-weight:300;
  padding-bottom:8px
}

.uy h2{
  margin:4px 0 5px;
  font-weight:700
}

.doyo-plan .well-border{
  border:2px solid #ccc;
  background-color:#fff
}

.top-rated-burst{
  border-radius:50%;
  height:60px;
  width:60px;
  position:absolute;
  top:-20px;
  right:10px;
  padding-top:10px;
  text-align:center
}

.top-rated-burst span{
  position:absolute;
  top:12px;
  left:7px;
  font-size:16px
}

img.npp{
  width:173px
}

#plan-options{
  padding-bottom:20px;
  overflow:hidden
}

#plan-options .bg-gray-lighter h2,#plan-options .bg-mint h2{
  font-weight:400
}

.four-week-plan ul{
  font-size:18px;
  line-height:18px;
  margin:0
}

.four-week-plan li{
  line-height:24px;
  color:#64a535
}

.mens-plans .four-week-plan li{
  color:#387b1f;
  font-size:16px
}

.bg-diabetes .four-week-plan li{
  line-height:24px;
  color:#009cdb
}

.four-week-plan.mens-plans li{
  color:#0b3254
}

.balanced-nutrition .h4{
  font-size:22px;
  line-height:25px;
  margin:0 0 10px;
  font-weight:600
}

.balanced-nutrition ul{
  font-family:futura-pt,arial,sans-serif
}

.balanced-nutrition li{
  font-size:19px;
  margin:0 0 5px
}

.balanced-nutrition a{
  color:#4c4c4c;
  text-decoration:none
}

.well p .choices{
  margin-top:6px;
  display:block;
  font-weight:700;
  line-height:1.3
}

.list-checked.check-blue-darker>li:before,.list-checked.check-green>li:before,.list-checked.check-primary>li:before,.list-checked.check-teal>li:before{
  background-position:0 9px
}

.bg-diabetes .balanced-nutrition li,.bg-diabetes .four-week-plan li{
  font-size:16px;
  font-family:Arial,Helvetica,sans-serif
}

#other-plans .header{
  padding-bottom:25px
}

.diabetes,.mens,.partner-plans .womens,.vegetarian{
  border:3px solid #ccc
}

.diabetes:hover{
  border-color:#64a535
}

.mens:hover{
  border-color:#64a535
}

.vegetarian:hover{
  border-color:#64a535
}

.diabetes .h3,.mens .h3,.partner-plans .womens .h3,.vegetarian .h3{
  font-family:futura-pt,sans-serif;
  font-size:22px;
  font-weight:400;
  padding:0 0 2px;
  margin-left:2px
}

.triangle-right{
  position:absolute;
  width:0;
  height:0;
  left:-1px;
  top:12px;
  border-top:10px solid transparent;
  border-left:10px solid #64a535;
  border-bottom:10px solid transparent
}

.triangle-right.mens-triangle{
  border-left:10px solid #0b3254
}

.d-content .triangle-right{
  border-left:10px solid #009cdb
}

#overlay.modal{
  top:224px
}

.close{
  color:#4c4c4c
}

.jumbotron.bg-mint{
  margin-bottom:10px;
  padding-bottom:0
}

#overlay .modal-title{
  font-size:28px;
  line-height:32px;
  font-weight:700;
  color:#503a82;
  margin:5px 0 0;
  text-transform:uppercase;
  padding:0;
  letter-spacing:normal
}

#overlay .modal-content{
  width:648px;
  height:361px;
  background:url(/images/diet-plans/weight-loss-programs/upgrade-bg.png) repeat-x;
  background-size:contain;
  border:3px solid #503a82
}

#overlay .modal-body h2{
  font-size:22px;
  line-height:22px;
  font-weight:400;
  color:#503a82;
  margin:0;
  text-transform:uppercase
}

#overlay .modal-body h3{
  font-size:19px;
  font-weight:700;
  color:#3c3c3c;
  margin:15px 0 0
}

#overlay .modal-body p{
  font-size:19px;
  font-weight:400;
  color:#3c3c3c;
  margin:0;
  padding-bottom:10px
}

#overlay .modal-body ul{
  display:block;
  padding-left:11px
}

#overlay .modal-body li{
  float:left;
  margin:0 4px;
  list-style:none
}

#overlay .modal-body a{
  color:#3c3c3c;
  font-size:15px;
  letter-spacing:.5px;
  font-weight:400;
  line-height:32px;
  text-decoration:none
}

#overlay .modal-footer{
  background-color:#503a82;
  width:648px;
  margin-top:-10px;
  margin-left:-3px;
  padding-bottom:10px
}

#overlay .modal-footer p{
  color:#fff;
  font-size:20px;
  font-weight:500;
  margin-top:9px;
  padding:4px 0
}

.futura20{
  font-size:20px;
  font-family:futura-pt,arial,sans-serif
}

.closer.mens-closer{
  background-color:#0b3254
}

.closer.bg-d-blue{
  background-color:#009cdb
}

.closer.mens-closer h3{
  color:#fff;
  border-right:2px solid #fff
}

.closer.bg-d-blue h3{
  color:#fff;
  border-right:2px solid #fff
}

.ul-support-content h2.text-d-blue{
  margin-top:0
}

.balanced-nutrition .mens-nutrition{
  margin:0 0 10px 25px
}

.view{
  border:solid 1px red
}

.mbg-gold-logo-container{
  margin:10px 0 8px;
  display:block
}

.mbg-gold-logo-container img.mbg-gold-logo{
  max-width:13px;
  margin:0 3px 0 0;
  display:inline-block
}

#plan-options .center-details{
  margin:0 15px 10px 21px;
  padding-bottom:10px
}

#plan-options p.center-details{
  font-size:18px;
  line-height:22px
}

#plan-options.mens-plans .lead{
  font-size:18px;
  font-family:futura-pt,arial,sans-serif
}

a:hover p.mbg-text{
  color:#64a535
}

.mens-plans .plan-content li:before{
  color:#0b3254
}

.bg-green-lighter-plan{
  background-color:#d3e692
}

.bg-diabetes{
  background-color:#e0f1f9
}

.plan li sup{
  font-size:85%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
  top:-.5em
}

.plan.partner-plan li sup{
  font-size:60%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

.doyo-plan p.text-blue-darker,.doyo-plan p.text-green{
  font-size:1.375em;
  line-height:1.2;
  margin:24px auto 12px
}

.doyo-plan .lead{
  margin:0 0 12px;
  text-align:left
}

.doyo-plan .btn-default{
  color:#fff
}

.doyo-plan .price-col{
  padding-right:0
}

a:focus .well{
  outline:1px solid #5d9dd5;
  box-shadow:0 0 8px #5d9dd5
}

.partner-header{
  font-size:22px;
  font-weight:700;
  padding-top:26px
}

img.partner-icon{
  width:45px;
  height:45px;
  margin-right:10px
}

.partner-plan .well h2.h3{
  font-size:26px;
  padding:6px 0 0
}

.partner-plan .well h2.h3 .fw-700{
  font-size:20px
}

.partner-plan p.lead{
  padding-bottom:16px
}

.new-menu p.text-green-darker,.new-menu p.text-purple-lighter{
  margin-bottom:0
}

.new-menu h4{
  margin-top:0
}

.partner-plans .menu-choices{
  font-size:14px;
  font-weight:700;
  color:#64a535;
  text-transform:uppercase;
  padding:10px 0 20px
}

.partner-plans .starting-at{
  font-size:14px
}

.partner-plans .amount,.partner-plans .dollarSignCents{
  font-size:32px
}

.partner-plans .a-day{
  font-size:16px;
  display:inline-block;
  padding-left:5px;
  line-height:1.1
}

.partner-plans.four-week-plan ul{
  font-size:16px
}

.partner-plans .bf2{
  text-transform:uppercase;
  color:#43791d
}

.partner-plans .bf2 svg{
  vertical-align:top
}

.partner .new-menu{
  margin:20px 0 0 120px
}

.allplans{
  background-color:#fff5e4
}

#uyu-bull-mob br:last-child{
  display:none
}

#giveaway{
  color:#373a3c
}

#giveaway img{
  margin:15px auto 0;
  display:block
}

#giveaway h3{
  color:#43791d
}

#giveaway p.h4{
  line-height:1.2
}

#giveaway .border{
  border-radius:10px;
  display:inline-block;
  border-color:#707070;
  padding:15px 0;
  margin:15px 0
}

#giveaway svg.partner{
  width:74px;
  float:left;
  margin:12px 24px 10px 0
}

#giveaway svg.app{
  width:64px;
  float:left;
  margin:10px 30px 0 4px
}

#giveaway .rules{
  font-weight:300;
  padding:0 0 20px 0;
  display:inline-block;
  text-align:center;
  display:block
}

#giveaway .rules a{
  color:#af3eb3
}

footer div.guarantee>span{
  font-family:korolev,sans-serif
}

.left-pad{
  padding-left:16px
}

.uy h2{
  font-weight:300
}

.max h2{
  font-weight:700
}

#uyu-bull-mob .bg-gray-lighter{
  background-color:#f2f2f2;
  margin:0 15px 16px;
  padding:16px 12px
}

#plan-options .max .center-details{
  margin:0 15px 0 21px;
  padding-bottom:0
}

.max h2 span.h5{
  font-size:20px;
  display:block;
  margin:0
}

.max h2 svg{
  width:70px;
  height:24px;
  position:relative;
  top:3px
}

.max p.plus{
  margin:0 0 12px 23px
}

.mens-plans .max .mens-txt{
  font-weight:700
}

p.list-head{
  padding-left:16px
}

.mens-plans p.list-head{
  font-size:18px
}

#plan-options.partner-plans .center-details{
  margin:0 15px 10px 21px;
  padding-bottom:5px
}

#uyu-bull-mob .bg-gray-lighter,.bg-gray-lighter{
  padding:16px 0 5px;
  margin:0 15px 15px
}

.mens-plans #basic-bull-mob .bg-white,.mens-plans #uy-bull-mob .bg-white{
  padding:16px 0 5px;
  margin:0 15px 15px
}

.faq .panel-heading.accordion .panel-title a:after{
  top:12px
}

.faq h2,.faq img.faq-icon{
  display:inline-block;
  vertical-align:text-top
}

.faq img.faq-icon{
  width:47px;
  height:45px;
  margin:3px 15px 0 15px
}

.faq h2{
  margin:0 0 30px;
  width:70%;
  font-size:1.875em
}

.contest{
  margin-top:20px
}

.contest h3{
  font-size:1.5em
}

.contest h3 span{
  display:block;
  font-size:32px;
  color:#43791d
}

.contest p.h5{
  font-size:1.125em;
  margin:0 0 20px
}

.contest .dark-bg{
  background-color:#29353a;
  border-radius:10px;
  padding:20px 0
}

.contest p.h6{
  width:202px;
  line-height:1.3;
  font-weight:400
}

.contest img.phone-icon,.contest img.protein-icon,.contest p.h6{
  display:inline-block;
  vertical-align:middle
}

.contest p.h6 strong{
  color:#faa21d
}

.contest img.protein-icon{
  width:67px;
  height:62px;
  margin:0 30px
}

.contest img.phone-icon{
  width:71px;
  height:80px;
  margin:0 30px 0 25px
}

.contest .rules-link{
  margin:24px auto
}

.contest .rules-link a{
  color:#095104
}

@media (max-width:767px){
  .bestNewFoods{
    position:absolute;
    right:-4px;
    top:137px;
    width:95px
  }

  .partner-plans .bestNewFoods{
    right:4px;
    top:172px
  }

  .action-header{
    margin-bottom:22px;
    margin-top:0;
    padding-bottom:22px;
    padding-top:10px
  }

  .action-header p{
    letter-spacing:0;
    margin-bottom:0;
    text-align:center
  }

  .action-header .h5,.action-header .h5-text{
    text-align:center
  }

  .action-header .myPlanBtn{
    text-align:center;
    margin-top:10px
  }

  .action-header .label{
    text-align:center;
    margin-bottom:10px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    display:block
  }

  .action-header .tag{
    width:130px
  }

  .action-header .tag2{
    width:200px
  }

  a:hover .triangle-right{
    border-left:10px solid #64a535
  }

  a:hover .triangle-right.mens-triangle{
    border-left:10px solid #0b3254
  }

  .plan-header{
    margin-bottom:5px
  }

  .plan-header h1{
    margin-top:10px
  }

  .plan-header .h4{
    font-size:20px
  }

  #plan-options .well{
    text-align:left
  }

  .d-plans .uy .well{
    border:0
  }

  #plan-options h2{
    margin:0 0 5px
  }

  .plan{
    position:relative
  }

  .plan .well{
    padding:15px 15px 0 15px;
    margin-bottom:10px;
    background-color:#fff
  }

  .mens-plans .plan .well{
    background-color:#eeeeef
  }

  .mens-plans .plan.partner-plan .well,.mens-plans .plan.uy-plus.max .well{
    background-color:#fff
  }

  .plan{
    padding-top:22px
  }

  .pot-rated-burst{
    right:5px
  }

  .mens-plans .doyo-plan{
    padding-left:0;
    padding-right:0
  }

  #plan-options .mobile-btn{
    border-radius: 25px;
    font-family: korolev,sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    color:#fff;
    float:right
  }

  .starting-at{
    font-size:14px;
    padding-left:2px;
    line-height:.5
  }

  .price{
    font-family:futura-pt
  }

  .uy .well-mob{
    border:4px solid #64a535
  }

  .mens-plans .uy .well-mob{
    border:4px solid #0b3254
  }

  .d-plans .uy .well-mob{
    border:4px solid #009cdb
  }

  .uy .well{
    border:0
  }

  .uy.men .well{
    border-left:10px solid #0b3254;
    border-color:#0b3254;
    border-top:4px solid #0b3254;
    border-right:4px solid #0b3254;
    border-bottom:4px solid #0b3254
  }

  .uy .d-uy.well{
    border:4px solid #009cdb
  }

  .uy .well .a-day{
    padding-left:4px
  }

  .amount,.dollarSignCents{
    font-size:32px;
    font-weight:500
  }

  .four-week-plan .h4{
    font-size:20px
  }

  .diabetes,.mens,.partner-plans .womens,.vegetarian{
    padding:16px 10px 0;
    margin-top:0
  }

  #other-plans .btn-dt,#other-plans .plan .lead,#other-plans .plan h2{
    display:none
  }

  #other-plans .diabetes,#other-plans .vegetarian,#other-plans.partner-plans .mens{
    border-top:0
  }

  .lead{
    margin:0
  }

  .lead br.br-tn{
    display:none
  }

  .triangle-right{
    top:19px
  }

  .mbg-gold-logo-container p.mbg-text{
    font-size:.6875em;
    display:inline-block
  }

  .uyp-new-flag{
    position:relative;
    font-size:13px;
    font-weight:700;
    padding:1px 12px 1px;
    width:160px;
    height:20px;
    letter-spacing:.05em;
    text-align:center
  }

  .d-plans .uyp-new-flag{
    background-color:#cbe8f5;
    width:155px
  }

  .d-plans .uyp-new-flag.top-rated{
    background-color:#cbe8f5;
    width:155px
  }

  .top-rated-burst span{
    position:absolute;
    top:13px;
    left:8px;
    font-size:16px
  }

  .closer.bg-d-blue h3,.closer.mens-closer h3{
    border-right:0
  }

  .ul-support-header h3{
    padding:10px 0;
    margin-bottom:0
  }

  .ul-support-header p.h3{
    font-family:futura-pt,arial,helvetica,sans-serif;
    line-height:16px;
    padding-bottom:15px;
    margin:7px 0
  }

  .more-info-link{
    text-align:center;
    padding:0 18px 10px
  }

  .more-info-link a{
    display:block;
    width:100%;
    padding-top:8px
  }

  .more-info-link .glyphicon{
    padding-left:5px;
    top:3px
  }

  .well-border{
    border:2px solid #ccc;
    background-color:#fff
  }

  .mens-plans .well-border{
    border:2px solid #eeeeef;
    background-color:#eeeeef
  }

  .mens-plans .partner-plan .well-border{
    background-color:#fff
  }

  .lose-weight-subhead{
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    margin-top:0
  }

  #partner_plan{
    text-align:left
  }

  .partner-plan .a-week{
    display:inline-block;
    text-align:left;
    font-size:14px;
    line-height:12px;
    padding-left:3px
  }

  .balanced-nutrition{
    background:url(../../../images/diet-plans/Bourbon-Chicken-mob.jpg) 0 0 no-repeat;
    background-size:cover;
    min-height:268px;
    margin:15px 0 0 0;
    position:relative
  }

  .men.balanced-nutrition{
    background:url(/images/diet-plans/pizza-bowl-mob-men.jpg) 0 0 no-repeat;
    background-size:cover;
    min-height:242px;
    margin:15px 0 0 0;
    position:relative
  }

  .new-menu{
    margin:0 0 0 145px
  }

  .partner-plans.four-week-plan .h4{
    font-size:26px;
    margin:12px 10px 20px auto
  }

  .partner.balanced-nutrition{
    background:url(../../../images/diet-plans/Bourbon-Chicken-mob.jpg) 0 -15px no-repeat;
    background-size:cover;
    min-height:242px;
    margin:0;
    position:relative
  }

  .max .well-mob{
    border:4px solid #64a535
  }

  .mens-plans .max .well-mob{
    border:4px solid #29353a
  }

  #plan-options .partner-plan h2{
    margin:0 0 10px 3px
  }

  #plan-options.mens-plans .partner-plan h2{
    margin:12px 0 10px 3px
  }
}

@media (max-width:360px){
  .partner-plans .a-day{
    font-size:14px
  }

  .contest h3 span{
    font-size:30px
  }

  .contest img.protein-icon{
    margin:0 20px
  }

  .contest img.phone-icon{
    margin:0 20px 0 15px
  }
}

@media (max-width:320px){
  .doyo-plan .price-col{
    padding-right:0;
    padding-left:5px
  }

  .doyo-plan .btn{
    padding:10px 8px
  }

  .plan .well{
    padding:15px 12px 0
  }

  #plan-options .mobile-btn{
    right:5px
  }

  .partner-plan .a-week{
    padding-left:0;
    width:35px
  }

  .new-menu{
    margin:0 0 0 120px
  }

  .partner-plans .btn-sm-mobile{
    font-size:16px;
    padding:8px 12px
  }

  #giveaway svg.partner{
    margin-top:22px;
    margin-bottom:22px;
    margin-right:16px
  }

  #giveaway svg.app{
    margin-top:22px;
    margin-bottom:22px;
    margin-right:22px
  }

  .balanced-nutrition{
    min-height:235px
  }

  .bestNewFoods{
    right:0;
    top:110px;
    width:81px
  }

  .partner-plans .bestNewFoods{
    right:0;
    top:96px
  }

  .faq h2{
    width:65%
  }

  .contest h3 span{
    font-size:27px
  }

  .contest p.h5{
    font-size:1em
  }

  .contest img.protein-icon{
    margin:0 6px
  }

  .contest img.phone-icon{
    margin:0 5px 0 2px
  }

  .contest .rules-link{
    padding:0 15px
  }
}

@media (min-width:411px){
  .bestNewFoods{
    right:1px;
    top:120px;
    width:91px
  }
}

@media (min-width:414px){
  .partner .new-menu{
    margin:20px 0 0 130px
  }
}

@media (min-width:450px){
  .jumbotron{
    padding-bottom:0
  }

  .new-menu{
    margin:0 0 0 34vw
  }
}

@media (min-width:568px){
  .partner .new-menu{
    margin:20px 0 0 180px
  }

  .contest p.h6{
    width:405px
  }

  .contest .protein-col{
    margin-bottom:20px
  }
}

@media (min-width:736px){
  .contest p.h6{
    width:420px
  }
}

@media (min-width:768px){
  #plan-options .doyo-plan .well{
    padding:19px 30px
  }

  #plan-options .well{
    margin-bottom:0;
    display:flex;
    flex-direction:column
  }

  .doyo-plan p.text-blue-darker,.doyo-plan p.text-green{
    font-size:1.625em;
    text-align:center
  }

  .well h2{
    order:1
  }

  .doyo-plan h2{
    font-size:30px;
    text-align:left;
    margin-top:7px
  }

  .doyo-plan p{
    font-size:18px;
    text-align:left
  }

  .doyo-plan .amount{
    font-size:48px;
    letter-spacing:-2px;
    line-height:64px;
    text-align:left
  }

  .doyo-plan .dollarSignCents sup{
    font-size:28px;
    top:-14px
  }

  .doyo-plan .starting-at{
    font-size:18px;
    font-family:futura-pt,Arial,Helvetica,sans-serif;
    text-transform:lowercase;
    color:#666;
    font-weight:400;
    padding:18px 0 0;
    letter-spacing:1px;
    line-height:20px
  }

  .doyo-plan .a-day{
    text-transform:uppercase;
    font-size:16px
  }

  .doyo-plan .btn-default{
    margin-top:30px
  }

  .doyo-plan a:hover h2{
    color:#64a535
  }

  .doyo-plan a:hover .btn-default{
    background-color:#f93;
    border-color:#f93;
    color:#fff
  }

  .doyo-plan .slash{
    font-size:30px
  }

  #plan-options.d-plans .bg-gray-lighter h2{
    margin-top:6px
  }

  .d-plans .basic-plan h2{
    padding:10px 0 0 0
  }

  #plan-options.partner-plans .uy-plus.max h2.h3{
    font-size:27px
  }

  .uy .well{
    margin-top:20px
  }

  .d-plans .plan-content:not(.basic-plan) li:before{
    color:#009cdb
  }

  .d-plans #basic-bull-mob,.d-plans #uyu-bull-mob,.d-plans .basic-plan .more-info-link,.d-plans .uy-plus .more-info-link{
    background-color:#f2f2f2
  }

  .more-info-link{
    padding-bottom:10px;
    text-align:center
  }

  .more-info-link a{
    display:inline-block;
    width:86%;
    padding-top:8px
  }

  #plan-options .partner-plan .well{
    padding-bottom:0
  }

  #plan-options.mens-plans .partner-plan .well{
    padding-left:25px
  }

  .d-plans .uy .well{
    border-bottom:0
  }

  .d-plans #uy-bull-mob,.d-plans .uy .more-info-link{
    border-left:2px solid #009cdb;
    border-right:2px solid #009cdb
  }

  .d-plans .uy .well-mob{
    border-bottom:2px solid #009cdb
  }

  #plan-options.d-plans p.center-details{
    margin:0 auto 6px
  }

  #plan-options.d-plans ul.center-details{
    margin:0;
    padding:0 7px 10px 23px
  }

  .plan .amount,.plan sup,.plan-content p sup{
    font-weight:400;
    font-family:futura-pt,arial,sans-serif
  }

  .plan sup{
    font-size:24px;
    top:-8px;
    letter-spacing:.25px
  }

  .plan.partner-plan .amount sup{
    font-size:24px;
    top:-8px
  }

  footer{
    margin-top:5px
  }

  .d-plans .uyp-new-flag{
    background-color:#cbe8f5;
    width:155px
  }

  .d-plans .uyp-new-flag.top-rated{
    width:155px
  }

  .bg-diabetes .balanced-nutrition{
    border-right:2px solid #ccc;
    border-left:0
  }

  .bg-diabetes .balanced-nutrition .h4{
    margin:0 0 15px 25px
  }

  .bg-diabetes .four-week-plan{
    margin-top:0
  }

  .bg-diabetes .four-week-plan .h5{
    margin:0 0 15px 25px
  }

  .bg-diabetes .four-week-plan ul{
    margin-left:25px
  }

  .bg-diabetes .balanced-nutrition ul{
    margin:0 25px 0 25px
  }

  #plan-options.d-plans .uy-plus .well p.lead{
    margin:0 auto 24px
  }

  .plan .a-day{
    display:block;
    font-size:16px;
    line-height:1;
    width:118px;
    font-family:futura-pt,sans-serif;
    font-weight:400;
    margin:0 auto
  }

  .partner-header{
    font-size:26px;
    padding-top:16px
  }

  #partner_plan{
    text-align:center;
    padding-bottom:5px
  }

  .mens-plans #partner_plan{
    padding-right:15px
  }

  .partner-plan .well-border{
    border:2px solid #ccc;
    margin-top:16px
  }

  .partner-plan .well{
    background-color:#fff
  }

  .partner-icon{
    width:80px;
    height:120px;
    margin-left:24px
  }

  .partner-icon img{
    width:67px;
    height:67px;
    margin-top:6px
  }

  .partner-plan .well h2.h3{
    font-size:32px;
    margin-top:0;
    padding-top:0
  }

  .partner-plan .well h2.h3 .fw-700{
    font-size:24px
  }

  .mens-plans .plan .center-details p:not(.tk-korolev){
    font-size:1em
  }

  .partner-plan p.lead{
    font-size:20px;
    padding-bottom:10px;
    font-family:futura-pt,arial,sans-serif
  }

  .partner-plan .starting-at{
    padding-top:0
  }

  .partner-plan .dollarSignCents sup{
    top:-8px;
    font-size:22px
  }

  .partner-plan .amount{
    font-size:36px;
    line-height:56px
  }

  .partner-plan .a-week{
    font-size:20px;
    line-height:5px;
    margin-bottom:25px;
    display:inline;
    top:-6px;
    position:relative
  }

  .partner-plan .per-person{
    font-size:16px;
    top:-6px;
    position:relative
  }

  .partner-plan .more-info-wrapper{
    margin-left:110px
  }

  .partner-plan .more-info-link{
    width:96%
  }

  .mens-plans .partner-plan .more-info-wrapper{
    margin-left:25px
  }

  .partner-plan .more-info-link a{
    width:100%
  }

  #basic-bull-mob,#uyu-bull-mob,.basic-plan .more-info-link,.uy-plus .more-info-link{
    background-color:#eff6e4
  }

  .d-plans #basic-bull-mob,.d-plans #uyu-bull-mob,.d-plans .basic-plan .more-info-link,.d-plans .uy-plus .more-info-link,.mens-plans #basic-bull-mob,.mens-plans .basic-plan .more-info-link{
    background-color:#f2f2f2
  }

  .more-info-link{
    padding-bottom:10px;
    text-align:center
  }

  .more-info-link a{
    display:inline-block;
    width:86%
  }

  #uy-bull-mob,.uy .more-info-link{
    border-left:2px solid #64a535;
    border-right:2px solid #64a535
  }

  .uy .well-mob{
    border-bottom:2px solid #64a535
  }

  .mens-plans #uy-bull-mob,.mens-plans .uy .more-info-link,.mens-plans .uy .well-mob{
    border-color:#0b3254
  }

  .d-plans #uy-bull-mob,.d-plans .uy .more-info-link,.d-plans .uy .well-mob{
    border-color:#009cdb
  }

  .d-plans .uy .well{
    border-bottom:0
  }

  #plan-options ul.center-details{
    margin-bottom:0
  }

  .plan-content.partner-plan ul{
    list-style:disc;
    padding:0 0 0 20px
  }

  .plan-content.partner-plan li{
    padding-left:0
  }

  .plan-content.partner-plan li:before{
    content:""
  }

  .new-menu h4{
    font-size:30px
  }

  .jumbotron{
    padding-bottom:48px
  }

  .balanced-nutrition{
    background:url(../../../images/diet-plans/Bourbon-Chicken-DT.jpg) 12px 0 no-repeat;
    background-size:44%;
    min-height:190px
  }

  .men.balanced-nutrition{
    background:url(/images/diet-plans/pizza-bowl-dt-men.jpg) 0 0 no-repeat;
    background-size:47%;
    min-height:190px
  }

  .new-menu{
    margin:0 0 0 180px
  }

  .new-menu h4{
    font-size:20px
  }

  .jumbotron.bg-mint{
    padding-top:48px;
    padding-bottom:48px
  }

  .partner-plans.four-week-plan .h4{
    font-size:28px;
    margin:0 auto 20px
  }

  .partner.balanced-nutrition{
    background:url(../../../images/diet-plans/Bourbon-Chicken-DT.jpg) 5% 35px no-repeat;
    background-size:49%;
    min-height:192px;
    padding-left:0
  }

  .partner.new-menu h4{
    font-size:22px
  }

  .partner .new-menu{
    margin:20px 0 0 220px;
    padding-bottom:0
  }

  #other-plans.partner-plans .plan .h3{
    font-size:22px
  }

  #other-plans.partner-plans p.lead{
    font-size:16px
  }

  #other-plans.partner-plans p.op-dt-link{
    font-size:12px
  }

  #giveaway h3{
    font-size:30px;
    padding-top:10px
  }

  #giveaway p.h4{
    font-size:22px
  }

  #giveaway img{
    margin-bottom:20px
  }

  #giveaway .rules{
    margin-bottom:30px
  }

  .bestNewFoods{
    position:absolute;
    right:2px;
    top:88px;
    width:33%
  }

  .mens-plans .bestNewFoods{
    top:105px
  }

  .partner-plans .bestNewFoods{
    right:2px;
    top:172px
  }

  #plan-options{
    padding-bottom:50px;
    overflow:hidden
  }

  .partner-icon{
    padding-left:0
  }

  #plan-options .max h2{
    margin:0 0 1px;
    text-align:center;
    font-size:27px
  }

  h1.h3.partner-plans{
    font-size:32px
  }

  .plan-header h1.mens-headline{
    font-size:2em
  }

  .plan-header .h4.mens-subline{
    font-size:1.625em
  }

  .mens-plans .max .mens-txt{
    font-weight:300
  }

  .max h2 span.h5{
    font-size:20px;
    display:block
  }

  .mens-plans .max h2 span.h5{
    display:inline-block
  }

  #plan-options .well p.lead{
    order:4;
    height:95px
  }

  #plan-options.mens-plans .well p.lead{
    height:105px
  }

  #plan-options.mens-plans .partner-plan p.lead{
    font-size:18px;
    height:auto;
    margin-top:10px
  }

  .mens-plans .plan.max .starting-at{
    padding:6px 0 0
  }

  .uy .well{
    margin-top:20px;
    background-color:#eff6e4;
    border:0
  }

  .mens-plans .uy .well-mob{
    border-bottom:0
  }

  .mens-plans .uy .well{
    background-color:#f2f2f2
  }

  #plan-options.mens-plans .well h2.tk-korolev{
    font-size:27px;
    margin:10px 0 0;
    padding:0;
    height:55px
  }

  #plan-options .partner-plan button{
    position:relative;
    left:-20px
  }

  #plan-options.mens-plans .partner-plan button{
    left:0
  }

  #plan-options.mens-plans .partner-plan h2.tk-korolev{
    height:45px
  }

  #uy-bull-mob,.uy .more-info-link{
    border-left:0;
    border-right:0;
    background-color:#eff6e4
  }

  .mens-plans #uy-bull-mob,.mens-plans .uy .more-info-link{
    background-color:#f2f2f2
  }

  #plan-options ul.center-details{
    margin:0 15px
  }

  #uyu-bull-mob,.max .more-info-link{
    border-left:2px solid #64a535;
    border-right:2px solid #64a535;
    background-color:#fff
  }

  .mens-plans #uyu-bull-mob,.mens-plans .max .more-info-link{
    border-left:2px solid #334989;
    border-right:2px solid #334989
  }

  .four-plan-padding .max .well{
    background:#fff;
    border:2px solid #64a535
  }

  #plan-options .max .well{
    background:#fff;
    border-top:2px solid #64a535;
    border-left:2px solid #64a535;
    border-right:2px solid #64a535;
    margin-top:20px;
    padding:5px 4px 18px
  }

  #plan-options.mens-plans .max .well{
    background:#fff;
    border-top:2px solid #334989;
    border-left:2px solid #334989;
    border-right:2px solid #334989;
    padding:16px 0 18px
  }

  #plan-options.partner-plans .max .well{
    padding:26px 3px 19px
  }

  #plan-options.partner-plans h2.h3{
    font-size:30px
  }

  #plan-options div.price{
    order:2
  }

  .mbg-gold-logo-container{
    order:3;
    margin-bottom:0;
    height:43px
  }

  .max .well-mob{
    border-bottom:2px solid #64a535
  }

  .mens-plans .max .well-mob{
    border-bottom:2px solid #334989
  }

  #uyu-bull-mob .bg-gray-lighter,.partner-plans #uyu-bull-mob .bg-gray-lighter{
    margin:0 15px 0
  }

  #plan-options.mens-plans .basic-plan .btn-block{
    margin-top:0
  }

  #plan-options .well p.lead{
    margin:0
  }

  .partner-plan p.lead{
    text-align:left
  }

  .partner-plan .well h2.h3{
    font-size:32px;
    margin-top:0;
    padding-top:0
  }

  .basic-plan h2,.uy h2{
    margin:10px 0 28px
  }

  .partner-plans .uy h2{
    margin:10px 0 0
  }

  .partner-plans .bf2{
    margin-top:10px
  }

  #plan-options:not(.mens-plans) .plan:not(.uy-plus) .bg-gray-lighter{
    background-color:#fff
  }

  #plan-options.mens-plans .basic-plan .well{
    background-color:#f2f2f2;
    margin:auto
  }

  #plan-options .plan .collapse{
    padding-bottom:1px
  }

  #plan-options .plan.uy-plus .collapse{
    padding-bottom:15px
  }

  #plan-options.partner-plans .basic-plan .bg-mint h2{
    padding:0;
    margin-top:10px
  }

  .mens-plans .uy h2{
    margin:10px 0 0
  }

  .mens-plans img.partner-icon{
    width:55px;
    height:55px;
    margin-left:0
  }

  .mens-plans .partner-plan .row .row{
    margin:0
  }

  #plan-options.mens-plans .lead{
    font-size:15px
  }

  .faq h3.panel-title{
    font-size:1.6em;
  }

  .faq{
    margin-top:50px;
    margin-bottom:20px
  }

  .faq h2{
    margin:0 0 30px;
    width:auto
  }

  .faq .panel-body{
    padding:15px 30px
  }

  .faq .panel-heading.accordion .panel-title a:after{
    top:16px
  }

  .contest p.h6{
    width:180px;
    margin:0
  }

  .contest img.protein-icon{
    margin:0 10px
  }

  .contest img.phone-icon{
    width:71px;
    height:80px;
    margin:0 10px 0 15px
  }

  .contest .protein-col{
    padding-right:0;
    margin-bottom:0
  }

  .contest .phone-col{
    padding-left:0
  }

  .contest .dark-bg{
    margin-top:24px
  }

  .contest{
    margin-bottom:35px
  }
}

@media (min-width:992px){
  .plan-header{
    margin-bottom:30px
  }

  .action-header{
    margin-bottom:22px;
    margin-top:22px;
    padding-bottom:22px;
    padding-top:10px
  }

  .action-header .h5,.action-header .h5-text{
    font-size:22px
  }

  .action-header p{
    font-size:16px;
    letter-spacing:0;
    margin-bottom:0
  }

  .action-header .myPlanBtn{
    padding:30px 0;
    text-align:right
  }

  .action-header .results{
    padding:40px 0 30px 0
  }

  .action-header .purple-label{
    text-align:left
  }

  .bg-gray-lighter h2,.bg-mint h2{
    margin-bottom:0
  }

  .bg-green-lighter{
    background-color:#d0dd4f
  }

  .text-green-darker{
    color:#43791d
  }

  .text-uppercase{
    text-transform:uppercase
  }

  .plan-content .h5{
    margin-top:0;
    font-size:17px;
    font-weight:700
  }

  .plan-content ul{
    padding:0 0 0 18px
  }

  .top-rated-burst{
    top:44px;
    right:-20px
  }

  .d-content .top-rated-burst{
    top:58px;
    right:-20px
  }

  #plan-options.d-plans .well{
    margin-bottom:0
  }

  #plan-options .d-content .well{
    margin-bottom:38px
  }

  #plan-options.d-plans h2{
    font-size:27px
  }

  #plan-options .d-content .bg-gray-lighter h2,#plan-options .d-content .bg-mint h2{
    margin-top:12px;
    margin-bottom:38px
  }

  #plan-options .uy-plus-padding.bg-gray-lighter h2,#plan-options .uy-plus-padding.bg-mint h2{
    margin-top:-20px;
    margin-bottom:17px
  }

  #plan-options p.center-details{
    margin-left:0;
    margin-bottom:10px;
    margin-top:0
  }

  #plan-options ul.center-details{
    margin-right:0
  }

  #plan-options.mens-plans .max .well{
    padding:17px 0 19px
  }

  #plan-options .well p.lead{
    height:115px
  }

  #plan-options.mens-plans ul.center-details{
    margin-right:15px
  }

  #plan-options.mens-plans .well h2.tk-korolev{
    font-size:30px;
    height:66px
  }

  #plan-options.mens-plans .lead{
    font-size:18px
  }

  #plan-options.mens-plans .partner-plan .well{
    padding-left:50px
  }

  #plan-options .partner-plan button{
    left:-45px
  }

  #plan-options.mens-plans .partner-plan button{
    left:5px
  }

  .mens-plans .partner-plan .more-info-wrapper{
    margin-left:50px;
    width:70%
  }

  .d-content .uy h2{
    margin-top:-9px;
    margin-bottom:23px
  }

  .core-margin .bg-gray-lighter h2,.core-margin .bg-mint h2{
    margin-top:32px
  }

  .plan .starting-at{
    font-size:16px;
    font-family:futura-pt,Arial,Helvetica,sans-serif;
    text-transform:lowercase;
    font-weight:400;
    color:#666;
    padding:9px 0 0;
    line-height:20px
  }

  .plan .amount,.plan sup,.plan-content p sup{
    font-weight:400;
    font-family:futura-pt,arial,sans-serif
  }

  .plan .amount{
    font-size:42px;
    letter-spacing:-2px;
    line-height:45px;
    text-align:left;
    color:#4c4c4c
  }

  .mbg-gold-logo-container{
    height:32px
  }

  .plan sup{
    font-size:21px;
    top:-13px;
    color:#4c4c4c;
    letter-spacing:.25px
  }

  .plan.partner-plan .amount sup{
    font-size:21px;
    top:-13px
  }

  .plan .dollarSignCents sup{
    font-size:26px;
    top:-14px
  }

  .plan .a-day{
    width:123px
  }

  .d-content .plan .a-day{
    width:187px;
    margin:0 0 17px 30px
  }

  .plan-content p sup{
    font-size:9px;
    top:-9px
  }

  .well p{
    font-size:18px;
    letter-spacing:0;
    margin-bottom:10px
  }

  .well p .choices{
    margin-top:10px;
    display:block;
    font-weight:700
  }

  #plan-options.mens-plans .basic-plan .well{
    padding-bottom:20px
  }

  .mens-plans .partner-plan .btn-default{
    margin-left:5px
  }

  .doyo-plan p.text-blue-darker,.doyo-plan p.text-green{
    margin:30px auto 12px
  }

  .four-week-plan{
    margin-top:18px
  }

  .four-week-plan .h4{
    line-height:30px;
    font-size:26px;
    margin-top:0
  }

  .four-week-plan li{
    line-height:22px
  }

  .balanced-nutrition{
    border-left:2px solid #ccc;
    margin:0
  }

  .bg-diabetes .balanced-nutrition{
    border-right:2px solid #ccc;
    border-left:0;
    margin:0
  }

  .balanced-nutrition .h4{
    margin:0 0 5px 25px
  }

  .bg-diabetes .balanced-nutrition .h4{
    margin:0 0 15px 25px;
    font-size:26px;
    font-weight:400
  }

  .bg-diabetes .four-week-plan{
    margin-top:0
  }

  .bg-diabetes .four-week-plan .h5{
    margin:0 0 15px 25px
  }

  .bg-diabetes .four-week-plan ul{
    margin-left:25px
  }

  .balanced-nutrition ul{
    margin:0 0 0 25px
  }

  .bg-diabetes .balanced-nutrition ul{
    margin:0 25px 0 25px
  }

  #other-plans{
    margin-bottom:15px
  }

  #other-plans .h3{
    padding-top:0
  }

  #other-plans p{
    font-size:16px;
    margin-bottom:44px
  }

  #other-plans .mobile-btn{
    position:absolute;
    top:-55px;
    left:52px
  }

  #other-plans.mens-plans .mobile-btn{
    position:absolute;
    top:-55px;
    left:90px
  }

  #other-plans a.mobile-btn.veg-cta{
    left:57px
  }

  #other-plans.mens-plans a.mobile-btn.veg-cta{
    left:100px
  }

  .diabetes,.mens,.vegetarian{
    margin-bottom:30px
  }

  .four-plan-padding .well{
    border-top:20px solid #fff
  }

  .four-plan-padding .well:hover{
    border-top:20px solid #fff
  }

  .list-plus>li{
    position:relative;
    padding:0 0 0 11px;
    margin-bottom:12px
  }

  .list-plus{
    list-style:none;
    text-align:left
  }

  .list-plus>li::before{
    content:'+';
    font-weight:700;
    color:#64a535;
    position:absolute;
    top:0;
    left:0;
    width:18px;
    height:20px;
    background:0
  }

  .list-plus.mens-plus>li::before{
    color:#0b3254
  }

  .d-content .list-plus>li::before{
    color:#009cdb
  }

  #plan-options .text-medium li{
    font-size:13px;
    text-align:left
  }

  .mbg-gold-logo-container p.mbg-text{
    font-size:.62em;
    display:inline-block
  }

  .uyp-new-flag{
    position:relative;
    float:right;
    top:0;
    font-size:13px;
    font-weight:700;
    padding:1px 12px 1px;
    width:155px;
    height:20px;
    letter-spacing:.05em;
    text-align:center
  }

  .d-plans .uyp-new-flag{
    background-color:#cbe8f5;
    width:155px
  }

  .d-plans .uyp-new-flag.top-rated{
    width:155px
  }

  #other-plans .col-sm-12{
    margin-bottom:-28px
  }

  .ul-support-burst{
    position:absolute;
    border-radius:50%;
    height:140px;
    width:140px;
    top:317px;
    left:-8px;
    padding-top:5px
  }

  .ul-support-burst h3,.ul-support-burst p{
    transform:rotate(-15deg)
  }

  .ul-support-burst h3{
    font-size:20px;
    position:relative;
    left:-1px;
    top:-9px
  }

  #plan-options.d-plans .basic-plan .well p.lead{
    margin-bottom:44px
  }

  #plan-options.d-plans .uy .well p.lead{
    margin-bottom:44px
  }

  #partner_plan .a-week{
    font-size:16px;
    top:-7px
  }

  .balanced-nutrition{
    background:url(../../../images/diet-plans/Bourbon-Chicken-DT.jpg) 5% 0 no-repeat;
    background-size:49%;
    min-height:192px;
    padding-left:0
  }

  .men.balanced-nutrition{
    background:url(/images/diet-plans/pizza-bowl-dt-men.jpg) 5% 0 no-repeat;
    background-size:49%;
    min-height:192px;
    padding-left:0
  }

  .new-menu{
    margin:0 0 0 212px
  }

  .new-menu h4{
    font-size:30px
  }

  .partner-plan .well{
    position:relative
  }

  .partner-plan a.card-link-dt{
    position:absolute;
    z-index:1;
    width:750px;
    height:190px;
    top:0
  }

  .partner-plans.four-week-plan .h4{
    font-size:30px
  }

  .partner.balanced-nutrition{
    background-size:40%;
    background-position:5% center
  }

  .partner .new-menu{
    margin:50px 0 10px 230px
  }

  #other-plans .plan{
    padding:0 6px
  }

  #other-plans.partner-plans p.op-dt-link{
    font-size:14px
  }

  .bestNewFoods,.mens-plans .bestNewFoods{
    position:absolute;
    right:34px;
    top:93px;
    width:26%
  }

  .partner-plans .bestNewFoods{
    right:17px;
    top:127px
  }

  #plan-options .max h2{
    margin:10px auto 0
  }

  .mens-plans .max .mens-txt{
    font-weight:700
  }

  .mens-plans .max h2 span.h5{
    display:block
  }

  #plan-options.mens-plans .max h2{
    margin:10px auto 1px
  }

  .mens-plans .plan.max .starting-at{
    padding-top:9px
  }

  .basic-plan h2,.uy h2{
    margin:17px 0 0
  }

  #plan-options.mens-plans .well p.lead{
    height:135px
  }

  #plan-options.mens-plans .partner-plan .well p.lead{
    height:auto;
    margin-top:10px
  }

  #plan-options.partner-plans .max .well{
    padding:26px 15px 19px
  }

  .max h2 span.h5{
    text-align:center
  }

  #plan-options h2 img{
    width:20px;
    height:20px
  }

  .partner .new-menu{
    padding-bottom:40px
  }

  #plan-options.partner-plans .uy-plus.max h2.h3{
    margin-top:0
  }

  #plan-options.partner-plans .basic-plan .well p.lead,#plan-options.partner-plans .uy .well p.lead{
    margin:24px auto
  }

  .contest h3{
    font-size:2.125em
  }

  .contest h3 span{
    font-size:38px
  }

  .contest p.h6{
    width:282px
  }

  .contest img.phone-icon{
    margin:0 10px 0 0
  }

  .contest img.protein-icon{
    margin:10px 10px 0 20px
  }

  .contest p.h5{
    font-size:1.25em
  }

  .contest .protein-col p.h6{
    margin-top:10px
  }
}

@media (min-width:1200px){
  .four-week-plan{
    margin-top:0;
    padding-right:10px
  }

  .four-week-plan .h4{
    margin-top:5px
  }

  #other-plans.mens-plans .mobile-btn{
    position:absolute;
    top:-55px;
    left:145px
  }

  #other-plans .mobile-btn{
    position:absolute;
    top:-55px;
    left:82px
  }

  #other-plans a.mobile-btn.veg-cta{
    left:85px
  }

  #other-plans.mens-plans a.mobile-btn.veg-cta{
    left:145px
  }

  #other-plans p{
    font-size:18px
  }

  #plan-options.d-plans .uy-plus .well p.lead{
    margin-bottom:24px
  }

  #plan-options.d-plans .basic-plan .well p.lead{
    margin-bottom:20px
  }

  #plan-options.d-plans .uy .well p.lead{
    margin-bottom:20px
  }

  .balanced-nutrition{
    background:url(../../../images/diet-plans/Bourbon-Chicken-DT.jpg) 5% 0 no-repeat;
    background-size:48%;
    min-height:223px;
    padding-left:0
  }

  .men.balanced-nutrition{
    background:url(/images/diet-plans/pizza-bowl-dt-men.jpg) 5% 0 no-repeat;
    background-size:46%;
    min-height:220px;
    padding-left:0
  }

  .partner-plan a.card-link-dt{
    width:910px;
    height:175px
  }

  .partner-plans.four-week-plan .new-menu{
    margin-top:18px
  }

  .partner .new-menu{
    margin:50px 0 10px 270px
  }

  #giveaway img{
    margin-right:10px
  }

  #giveaway .border{
    margin:15px 75px
  }

  .balanced-nutrition{
    background-size:40%
  }

  .bestNewFoods,.mens-plans .bestNewFoods{
    right:25px;
    top:100px;
    width:26%
  }

  #plan-options .max h2{
    margin:10px auto 0
  }

  .partner-plans.four-week-plan{
    margin-top:18px
  }

  .partner-plan .btn-default{
    margin-left:0
  }

  #plan-options.mens-plans .partner-plan .well{
    padding-left:50px
  }

  #plan-options .well p.lead{
    height:93px
  }

  .mens-plans .partner-plan .more-info-wrapper{
    margin-left:50px
  }

  .contest img.protein-icon{
    margin:10px 10px 0 90px
  }
}

@media (min-width:768px) and (max-width:991px){
  div#basic-bull-mob,div#partner-bull-mob,div#six-month-bull-mob,div#uy-bull-mob,div#uyu-bull-mob{
    font-size:14px
  }

  .mens-plans .partner-plan p.list-head,.mens-plans .six-month p.list-head{
    font-size:18px;
    font-family:korolev,sans-serif
  }

  .action-header{
    margin-bottom:22px;
    margin-top:22px;
    padding-bottom:22px;
    padding-top:10px
  }

  .action-header p{
    font-size:16px;
    letter-spacing:0;
    margin-bottom:0;
    text-align:center
  }

  .action-header .h5,.action-header .h5-text{
    font-size:22px;
    text-align:center
  }

  .action-header .label{
    margin-top:20px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    display:block
  }

  .action-header .tag{
    width:137px
  }

  .action-header .tag2{
    width:203px
  }

  .h2{
    font-size:33px
  }

  .plan-header{
    margin-bottom:30px
  }

  .plan .top-rated-burst{
    right:-25px;
    top:38px
  }

  .plan .top-rated-burst.bg-d-blue{
    top:55px
  }

  .plan .starting-at{
    font-size:16px;
    font-family:futura-pt,Arial,Helvetica,sans-serif;
    text-transform:lowercase;
    color:#666;
    font-weight:400;
    padding:8px 0 0;
    line-height:20px
  }

  .plan .amount{
    font-size:36px;
    letter-spacing:-2px;
    line-height:50px;
    text-align:left
  }

  .plan .dollarSignCents sup{
    font-size:24px;
    top:-8px
  }

  .plan-content p sup{
    font-size:9px;
    font-weight:300;
    font-family:futura-pt,arial,sans-serif;
    top:-9px
  }

  #plan-options .well{
    padding:18px 5px
  }

  #plan-options .uy-plus-padding.bg-gray-lighter h2,#plan-options .uy-plus-padding.bg-mint h2{
    margin-top:0;
    margin-bottom:16px
  }

  #plan-options.mens-plans .well{
    padding-top:16px
  }

  .uy h2.text-d-blue{
    margin-top:-12px
  }

  .core-margin .bg-gray-lighter h2,.core-margin .bg-mint h2{
    margin-top:32px
  }

  .uy .well{
    padding-right:0;
    padding-left:0;
    padding-bottom:49px
  }

  .plan .well p,.uy .well p{
    font-size:14px;
    margin-top:10px;
    font-family:arial,sans-serif;
    letter-spacing:-.05px
  }

  .partner-plans .plan .well .bf2{
    margin-top:10px;
    font-size:16px
  }

  .partner-plans div#basic_plan.price,.partner-plans div#uniquely_yours.price{
    padding-top:24px
  }

  .d-plans .plan .well p.lead{
    margin:10px auto 43px
  }

  #plan-options .doyo-plan .well p{
    margin-bottom:0
  }

  .plan-content li{
    font-size:14px
  }

  #plan-options p.center-details{
    font-size:16px;
    line-height:20px;
    margin-top:0
  }

  #plan-options .center-details{
    margin-left:0
  }

  #plan-options ul.center-details{
    margin-left:20px;
    margin-right:0
  }

  #plan-options.mens-plans ul.center-details{
    padding-right:5px
  }

  .four-week-plan .h4{
    margin-top:0;
    font-size:21px
  }

  .four-week-plan ul{
    font-size:16px
  }

  .four-week-plan li{
    line-height:22px
  }

  .balanced-nutrition{
    margin:-6px auto;
    border-left:2px solid #ccc
  }

  .balanced-nutrition .h4{
    margin:0 0 5px 25px
  }

  .balanced-nutrition ul{
    margin:0 0 0 25px;
    font-size:14px
  }

  .diabetes,.mens,.vegetarian{
    margin:0 0 60px
  }

  .diabetes .h3,.mens .h3,.partner-plans .womens .h3,.vegetarian .h3{
    font-size:24px
  }

  .diabetes p,.mens p,.partner-plans .womens p,.vegetarian p{
    font-size:18px;
    margin-bottom:40px;
    line-height:22px;
    padding:0 10px
  }

  #other-plans .mobile-btn{
    position:absolute;
    top:-86px;
    left:29px;
    padding:10px 20px
  }

  #other-plans.mens-plans .mobile-btn{
    position:absolute;
    top:-86px;
    left:97px;
    padding:10px 20px
  }

  #other-plans a.mobile-btn.veg-cta{
    left:36px
  }

  #other-plans.mens-plans a.mobile-btn.veg-cta{
    left:97px
  }

  #plan-options .text-medium li{
    text-align:left
  }

  .list-plus>li{
    position:relative;
    padding:0 0 0 11px;
    margin-bottom:12px
  }

  .list-plus{
    list-style:none;
    text-align:left
  }

  .list-plus>li::before{
    content:'+';
    font-weight:700;
    color:#64a535;
    position:absolute;
    top:0;
    left:0;
    width:18px;
    height:20px;
    background:0
  }

  .four-plan-padding .well{
    border-top:20px solid #fff;
    padding-top:30px
  }

  .four-plan-padding .well:hover{
    border-top:20px solid #fff
  }

  #plan-options .basic-plan .well.bg-gray-lighter p{
    margin-bottom:26px
  }

  #plan-options.mens-plans .basic-plan .well.bg-gray-lighter p{
    margin-bottom:27px
  }

  #plan-options.mens-plans .uy-plus .well.bg-gray-lighter p{
    margin-bottom:20px
  }

  .mbg-gold-logo-container p.mbg-text{
    font-size:.52em;
    display:inline-block
  }

  .btn-sm{
    padding:9px 9px
  }

  .action-header .myPlanBtn{
    text-align:center;
    margin-top:10px
  }

  .uyp-new-flag{
    position:relative;
    float:right;
    top:0;
    font-size:13px;
    font-weight:700;
    padding:1px 12px 1px;
    width:155px;
    height:20px;
    letter-spacing:.05em;
    text-align:center
  }

  #plan-options .btn-block{
    width:91%;
    margin-left:7px
  }

  .ul-support-burst{
    position:absolute;
    border-radius:50%;
    height:140px;
    width:140px;
    top:225px;
    left:-2px;
    padding-top:5px
  }

  .ul-support-burst h3,.ul-support-burst p{
    transform:rotate(-15deg)
  }

  .ul-support-burst h3{
    font-size:20px;
    position:relative;
    left:-1px;
    top:-9px
  }

  #plan-options.d-plans .basic-plan .bg-gray-lighter h2{
    margin-bottom:33px
  }

  #plan-options.d-plans .uy h2{
    margin-bottom:31px
  }

  #plan-options.mens-plans .basic-plan .btn-block{
    margin-top:38px
  }

  #plan-options.d-plans .basic-plan .bg-gray-lighter h2{
    margin-bottom:39px
  }

  #plan-options.d-plans .uy h2{
    margin-bottom:38px
  }

  .partner-plan .btn.btn-default{
    padding:10px 15px
  }

  .mens-plans .partner-plan .btn.btn-default{
    padding:10px 20px
  }
}

@media(min-width: 768px){
  .six-month{
    margin-top: 40px;
  }

  .six-month .well-border{
    border: 2px solid #ccc;
  }

  #plan-options .six-month .well{
    background: #fff;
  }

  #plan-options.six-month .well{
    margin-bottom: 0;
  }

  #plan-options .six-month .well{
    display: flex;
    flex-direction: column;
  }

  .six-month .well p.lead{
    text-align: left;
  }

  .six-month h2{
    font-size: 30px;
    padding-top: 0;
    margin: 0 auto 8px;
    display: block;
  }

  #plan-options .six-month h2 span, .lose-weight-subhead{
    display: block;
    font-size: 16px;
    color: #006b00;
  }

  #plan-options .six-month .well p.lead{
    height: 60px;
  }

  #plan-options .six-month .well{ padding: 19px 13px 0;
  }

  .partner-header {
    font-size: 26px;
    padding-top: 16px;
  }
}

@media (min-width: 992px){
  #plan-options .six-month .well{
    padding-top: 19px;
  }

  .mbg-gold-logo-container p.mbg-text{
    font-size: 11px;
    display: inline-block;
  }

  .compl-icon{
    width:55px;
    height:55px;
    top:5px;
  }
}

@media (min-width: 1200px){
  .partner-plan .head-cont, .six-month .head-cont {
    padding-left: 26px;
  }

  .compl-icon, .partner-icon {
    margin-right: 30px;
  }

  #plan-options .six-month .well p.lead {
    margin-bottom: 17px;
    margin-top: 10px;
  }

  .six-month .mbg-gold-logo-container, .six-month .well p.lead {
    padding-left: 110px;
  }
}

#six-month-plan .affirm_category, #six-month-plan p{
  display: none;
}

@media (min-width: 768px){
  #plan-options .partner-plan .btn.btn-default, #plan-options .six-month .btn.btn-default {
    top: auto;
  }

  #plan-options .partner-plan .btn.btn-default, #plan-options .six-month .btn.btn-default { padding: 10px 26px;
  }

  #plan-options .six-month .btn.btn-default {
    top: 28px;
  }

  #plan-options .partner-plan .btn.btn-default, #plan-options .six-month .btn.btn-default {
    position: absolute;
    left: 0; top: 10px;
    color: #fff;
  }

  #plan-options .btn.btn-default { padding: 10px 34px;
  }

  #plan-options .well button {
    float: none; position: static;
    margin: 0 auto; order: 5;
  }

  div#six-month-plan.price {
    margin-bottom: 21px;
    text-align: center;
  }

  #plan-options div.price {
    order: 2;
  }

  #six-month-plan {
    height: 34px;
  }
}

@media (min-width: 992px){
  #plan-options .btn-default {
    font-size: 22px;
  }

  #plan-options .mobile-btn {
    position: absolute; left: 60px;
    top: -65px;
  }
}

@media (min-width: 568px){
  #plan-options .mobile-btn {
    left: 150px;
  }
}

#plan-options .btn-default { border-radius: 25px;
  font-family: korolev,sans-serif;
  font-size: 19px;
  text-transform: capitalize; font-weight: 400;
  color: #fff;
  float: right;
}

@media (min-width: 1200px){
  #plan-options .well .btn {
    padding: 10px 35px;
  }
}

.six-month .price {
  position: static;
  text-align: left;
  width: 150px;
}

