body.men,.men .text-gray-darker {
    color: #29353a
}

.fw-900 {
    font-weight: 900
}

.tk-korolev strong,.tk-korolev.fw-700 {
    font-weight: 700
}

.hero .btn-default {
    font-family: "korolev",sans-serif;
    text-transform: capitalize;
    font-weight: 500
}

.men .quote.woman,.quote.man {
    display: none
}

.men .quote.man {
    display: block
}

.men .men-sub-nav li#select-plan a {
    font-weight: 700
}

#difference ul {
    list-style: none
}

#difference li::before {
    content: "\2022";
    color: #62a534;
    display: inline-block;
    width: .7em;
    margin-left: -.7em;
    font-size: 28px;
    position: relative;
    top: 5px;
    left: 4px
}

.quote {
    margin-top: 24px
}

.quote .container {
    position: relative
}

.quote .claim-txt {
    position: absolute;
    top: 30px;
    left: 225px
}

.men .quote .claim-txt {
    top: 20px;
    left: 235px
}

.quote .claim-txt p {
    font-size: 1.125em;
    line-height: 1.1
}

.d-link-men,.men .d-link {
    display: none
}

.men .d-link-men {
    display: inline-block
}

.head-txt h1 {
    font-size: 1.875em;
    margin: 0 auto 7px
}

.head-txt h2 {
    font-size: 1.375em;
    margin: 0 0 10px
}

.head-txt h2 span {
    font-size: 18px
}

.menu {
    background-color: #fbf4bb
}

.menu p.h5 {
    margin: 20px auto 14px;
    font-size: 1.125em
}

.menu img.plate-icon {
    width: 63px;
    height: 45px
}

.menu h2 span {
    position: relative;
    top: 5px
}

.menu p.sub-txt {
    margin: 20px auto 30px;
    font-size: 1em;
    font-family: arial,sans-serif;
    letter-spacing: normal
}

.menu .see-eat-link a {
    text-decoration: none;
    background-color: #fdf9de;
    padding: 10px 88px
}

.menu .see-eat-link img {
    width: 28px;
    height: 28px;
    position: relative;
    top: -2px
}

.plus-col img.plus-txt {
    width: 60px;
    height: 31px
}

.plus-col {
    background-color: #fbf4bb;
    margin-bottom: 0
}

.plus-col .see-eat-link img {
    height: 28px;
    width: 28px;
    margin-right: 5px
}

.plus-col h3.h4 {
    margin: 24px auto 16px
}

.plus-col p {
    margin: 0 auto 30px
}

.plus-col h3.h4 span {
    font-size: 20px;
    color: #945ea9
}

.menu a[aria-expanded=true] .glyphicon-menu-down:before {
    content: "\e260"
}

.menu .well {
    background-color: #fdf9de;
    padding: 19px 15px;
    text-align: center;
    margin-bottom: 0
}

.menu .well p strong.text-green {
    font-size: 18px;
    display: block
}

.menu p.hungry-txt {
    margin: 30px auto 6px;
    font-size: 18px
}

.menu p.hungry-txt a {
    font-family: arial,sans-serif;
    font-size: 16px
}

ul.ordered-list li:nth-child(3) {
    margin-bottom: 0
}

.real h2 {
    margin-bottom: 24px
}

.real ul li {
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.2
}

.faq .panel-heading.accordion .panel-title a:after {
    top: 12px
}

.faq h2,.faq img.faq-icon {
    display: inline-block;
    vertical-align: text-top
}

.faq img.faq-icon {
    width: 47px;
    height: 45px;
    margin: 3px 30px 0 15px
}

.faq h2 {
    margin: 0 0 30px;
    width: 70%;
    font-size: 1.875em
}

img.mbg-hero {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 10px;
    z-index: 1
}

.ordernow {
    background: #fff;
    width: 100%;
    padding: 16px 15px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0 0 10px 2px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,.3)
}

.ordernow.affix {
    bottom: 0
}

.ordernow.affix-bottom,.ordernow.affix-top {
    position: absolute !important;
    opacity: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.ordernow p {
    margin-bottom: 14px
}

.ordernow a {
    color: #fff;
    width: 100%;
    max-width: 450px
}

.hero .container {
    position: relative
}

.hero h1 {
    font-size: 1.875em;
    margin: 110px auto 10px;
    line-height: 1.1;
    color: #29353a
}

.hero h1 span {
    font-size: 17px
}

.hero p.h2 {
    margin: 0 auto 16px;
    font-size: 2.25em;
    color: #29353a
}

.hero p.h3 {
    margin: 0 auto 16px;
    font-size: 1.375em
}

.hero .ctaWrapper {
    margin: 10px 0 5px 0;
    position: relative
}

.hero .small {
    position: absolute;
    bottom: 10px;
    left: 15px
}

.men .order-options input[type=submit].btn.btn-default {
    font-family: "korolev",sans-serif;
    text-transform: capitalize;
    font-weight: 500
}

a.rounded,input[type=submit].btn.btn-default {
    border-radius: 53px
}

a .glyphicon-triangle-bottom {
    top: 5px
}

.satisfy {
    overflow: hidden
}

.satisfy p.h1 {
    margin: 0 auto 10px;
    text-align: center
}

.satisfy .food-vid {
    width: 100%;
    height: 80vw
}

.satisfy ul li {
    font-size: 1.375em
}

.satisfy .list-checked>li:before {
    top: 3px;
    left: -4px;
    width: 20px;
    height: 78px
}

.bounce-up p,div.bounce-up,img.bounce-up,object.bounce-up,p.bounce-up {
    opacity: 0;
    -moz-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -moz-transform: translate3d(0,200px,0);
    -webkit-transform: translate3d(0,200px,0);
    -o-transform: translate(0,200px);
    -ms-transform: translate(0,200px);
    transform: translate3d(0,200px,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

div.bounce-right {
    opacity: 0;
    -moz-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -moz-transform: translate3d(-400px,0,0);
    -webkit-transform: translate3d(-400px,0,0);
    -o-transform: translate(-400px,0);
    -ms-transform: translate(-400px,0);
    transform: translate3d(-400px,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

div.bounce-left {
    opacity: 0;
    -moz-transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -moz-transform: translate3d(400px,0,0);
    -webkit-transform: translate3d(400px,0,0);
    -o-transform: translate(400px,0);
    -ms-transform: translate(400px,0);
    transform: translate3d(400px,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.satisfy .food-img p {
    line-height: 1.4
}

.satisfy .food-img p span {
    background-color: #fff;
    padding: 5px 16px;
    border-radius: 4px
}

.bounce-up.in-view p,div.bounce-left.in-view,div.bounce-right.in-view,div.bounce-up.in-view,img.bounce-up.in-view,object.bounce-up.in-view,p.bounce-up.in-view {
    opacity: 1;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate3d(0,0,0)
}

.satisfy h2 {
    margin: 24px 0 20px;
    font-weight: 700
}

.men .satisfy h2 {
    margin: 24px 0 20px;
    font-weight: 900;
    font-size: 1.75em
}

.men .satisfy .txt-rest-faves h2 {
    font-size: 1.625em
}

.satisfy h4 {
    margin: 0 0 20px
}

.satisfy .r4 {
    margin-top: 30px;
    margin-bottom: 30px
}

.satisfy ul {
    margin-bottom: 28px
}

.satisfy .r1 p.h4 {
    margin: 0 0 40px
}

.satisfy .r3 p.h4 {
    font-weight: 700;
    margin: 0 0 40px
}

.men .satisfy .r3 p.h4 {
    font-size: 1.25em
}

.satisfy .r3 .small {
    padding: 10px 15px 20px
}

.satisfy .backpack-icon {
    width: 60px;
    height: 51px
}

.satisfy .micro-icon {
    width: 54px;
    height: 38px
}

.heat {
    margin-bottom: 20px
}

.heat h4 {
    margin: 0 auto 24px;
    line-height: 1.3
}

.men .heat h4 {
    margin: 0 auto 24px;
    line-height: 1.3;
    color: #43791d
}

.heat img,.heat p {
    display: inline-block;
    vertical-align: top
}

.heat img {
    max-width: 56px
}

.heat p {
    width: 220px;
    font-size: 18px;
    line-height: 1.2;
    margin-left: 10px
}

.heat p.fast-mic-txt {
    margin-left: 15px
}

.heat .border {
    padding: 24px 24px 12px 24px
}

.heat .micro-icon {
    margin-top: 14px
}

.slide {
    background: #f7d38b;
    padding-top: 20px;
    overflow: hidden
}

.men .slide {
    background: #29353a
}

.slide .slide-head {
    text-align: center
}

.slide .nw-win-logo,.slide h2 {
    display: inline-block;
    vertical-align: middle
}

.slide .nw-win-logo {
    width: 84px;
    height: 101px
}

.slide h2 {
    margin: 0 0 0 6px
}

.men .slide h2 {
    color: #8dc63f;
    line-height: 1.2
}

.slide p.h3 {
    font-size: 1.375em
}

.men .slide p.h3 {
    margin: 6px auto 6px
}

.slide .carousel-inner {
    left: -50%;
    width: 200%;
    height: 360px
}

.slide .cell {
    width: 30%;
    float: left;
    transition: all .5s ease
}

.slide .cell {
    margin: 0 1.666667%
}

.slide .p-img {
    width: 100%
}

.men .slide .p-img img {
    border-radius: 5px 5px 0 0
}

.slide .p-desc {
    background: #fff;
    width: 100%;
    padding: 10px 20px 6px
}

.men .slide .p-desc {
    border-radius: 0 0 5px 5px
}

.slide .p-desc .p-name {
    font-family: futura-pt,arial,sans-serif;
    font-size: 20px;
    height: 65px;
    line-height: 1.1em
}

.slide .carousel-inner>.item.active.right,.slide .carousel-inner>.item.next {
    left: 33.33333%
}

.slide .carousel-inner>.item.active.left,.slide .carousel-inner>.item.prev {
    left: -33.33333%
}

.slide .carousel-inner>.item.active,.slide .carousel-inner>.item.next.left,.slide .carousel-inner>.item.prev.right {
    left: 0
}

.slide .carousel-caption {
    padding: 0 20px 60px;
    position: relative;
    z-index: auto;
    color: #4c4c4c;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: -30px;
    font-style: italic;
    transition: all .5s ease
}

.slide .active .carousel-caption {
    color: #4c4c4c
}

.slide .left .carousel-caption,.slide .right .carousel-caption {
    color: #f7d38b
}

.slide .next .carousel-caption,.slide .prev .carousel-caption {
    color: #4c4c4c
}

.slide .carousel-caption .cust {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal
}

#science p.h3 {
    line-height: 1.3
}

.basichero {
    background: #fff5e4;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px
}

.basichero .hero-img {
    width: 100%;
    height: 59.2vw
}

.basichero h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px
}

.men .basichero h2 {
    font-weight: 900;
    line-height: 1.2
}

.basichero .check-green li:before {
    width: 28px;
    height: 28px;
    top: 10px;
    left: 14px;
    z-index: 31
}

.basichero .check-green li {
    padding-left: 55px;
    margin-bottom: 20px
}

.basichero .white-circle {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    left: 6px;
    top: 14px;
    background: #fff;
    z-index: 30
}

.men .unlock-arrow {
    background: #29353a !important
}

.men .unlock-arrow:after {
    border-left: 16px solid #29353a !important
}

.contest {
    background-color: #29353a
}

.contest img {
    display: inline-block;
    vertical-align: middle;
    width: 91px;
    height: auto
}

.contest .text-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 190px;
    margin-left: 30px
}

.contest h4 {
    color: #faa21d;
    margin: 15px 0 10px
}

.contest p.h5 {
    font-size: 1.125em;
    margin: 0 auto 15px
}

.contest-rule-link p {
    margin: 15px auto 25px;
    color: #095104
}

@media all and (transform-3d),(-webkit-transform-3d) {
    .slide .carousel-inner>.item.active.right,.slide .carousel-inner>.item.next {
        transform: translate(33.33333%,0);
        left: 0
    }

    .slide .carousel-inner>.item.active.left,.slide .carousel-inner>.item.prev {
        transform: translate(-33.33333%,0);
        left: 0
    }

    .slide .carousel-inner>.item.active,.slide .carousel-inner>.item.next.left,.slide .carousel-inner>.item.prev.right {
        transform: translate(0,0);
        left: 0
    }
}

@media(max-width: 767px) {
    .hero-img-mob {
        background:url(../../../images/diet-plans/basic-plan/pasta-meatball-mob.jpg) bottom center no-repeat;
        margin: auto;
        background-size: cover;
        height: 145px
    }

    .quote .quote-img-mob {
        background: url(../../../images/diet-plans/basic-plan/quote-basic-mob.jpg) bottom center no-repeat;
        margin: auto;
        background-size: cover;
        height: 260px;
        position: relative
    }

    .men .quote .quote-img-mob {
        background: url(../../../images/diet-plans/basic-plan/quote-basic-men-mob.jpg) bottom center no-repeat;
        background-size: cover
    }

    .quote .quote-img-mob p.small {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 6px;
        width: 200px;
        text-align: right
    }

    .menu .menu-img-mob {
        background: url(../../../images/diet-plans/basic-plan/sample-day-basic-mob.jpg) no-repeat 0 0;
        background-size: cover;
        height: 175px;
        margin-top: 24px
    }

    .real {
        background: url(../../../images/diet-plans/basic-plan/food-mod-bg-grn-mob.jpg) no-repeat top right;
        background-size: cover;
        height: 315px;
        margin-bottom: 24px
    }

    .hero {
        background: url(/images/diet-plans/basic/basicRateCard-animatedHero-mbl.webp) no-repeat center top;
        background-size: cover;
        height: 500px;
        margin-bottom: 40px;
        position: relative
    }

    .satisfy {
        max-width: 500px;
        margin: 0 auto
    }

    .slide .p-desc {
        padding: 10px 15px 6px
    }
}

@media(max-width: 360px) {
    .menu .see-eat-link a {
        padding:20px 80px
    }

    .hero p.h2 {
        font-size: 2.1em
    }

    .heat p {
        width: 205px
    }
}

@media(max-width: 320px) {
    .hero-img-mob {
        height:126px
    }

    .men .hero p.h2 {
        font-size: 2.15em
    }

    .men .quote .claim-txt,.quote .claim-txt {
        left: 200px
    }

    .quote .quote-img-mob p.small {
        width: 160px
    }

    .menu .see-eat-link a {
        padding: 20px 60px
    }

    .real {
        height: 345px
    }

    .real h2 {
        margin-bottom: 16px
    }

    .faq h2 {
        width: 65%
    }

    .hero-content h1 {
        font-size: 1.5em;
        margin: 130px auto 0
    }

    .men .hero-content h1 {
        margin: 95px auto 0
    }

    .hero-content p.h2 {
        font-size: 1.6em;
        margin-bottom: 10px
    }

    .hero p.small {
        margin: 170px 0 0
    }

    .hero svg#MBG_Gold {
        height: 55px;
        width: 55px
    }

    .heat p {
        width: 166px
    }

    .slide h2 {
        font-size: 1.5em
    }

    .slide p.h3 {
        font-size: 1.3em
    }

    .contest .text-wrap {
        margin-left: 3px
    }

    .contest-rule-link p {
        padding: 0 12px
    }
}

@media(min-width: 411px) {
    .men .quote .claim-txt,.quote .claim-txt {
        left:250px
    }

    .hero h1 {
        margin-top: 140px
    }

    .hero .small {
        left: 65px
    }
}

@media(min-width: 414px) {
    .menu .see-eat-link a {
        padding:10px 107px
    }
}

@media(min-width: 450px) {
    .slide .carousel-inner {
        max-width:1000px;
        left: calc(50vw - 500px);
        height: 600px
    }
}

@media(min-width: 568px) {
    .quote .quote-img-mob {
        height:370px
    }

    .men .quote .claim-txt,.quote .claim-txt {
        left: 360px
    }

    .hero {
        height: 450px
    }

    .men .hero {
        background-position: 50% 38%
    }

    .hero h1 {
        font-size: 2em;
        margin-top: 65px
    }

    .hero p.h2 {
        font-size: 1.5em
    }

    .hero .ctaWrapper {
        margin: 18px 0 20px 0
    }

    .contest {
        padding: 15px 0
    }

    .contest .col-xs-12 {
        text-align: center
    }

    .contest img {
        margin-top: 0
    }

    .contest h4 {
        margin: 0
    }

    .contest .text-wrap {
        width: 350px;
        text-align: left
    }

    .contest p.h5 {
        margin: 0 auto 0
    }
}

@media(min-width: 768px) {
    .ordernow.sticky.hidden-xs.affix-bottom {
        z-index:-1;
    }

    .ordernow.sticky.hidden-xs.affix {
        z-index: 999;
    }

    .btn:not(.btn-block)~.btn:not(.btn-block) {
        margin-left: 0
    }

    img.mbg-hero {
        width: 104px;
        height: 104px;
        margin: 20px 0 0 240px
    }

    .hero-img-mob {
        display: none
    }

    .hero .hero-img-dt {
        background: url(../../../images/diet-plans/basic-plan/pasta-meatball-dt.jpg) -20px 00px no-repeat;
        background-size: cover;
        margin: auto;
        padding: 0;
        height: 700px
    }

    .head-txt h1 {
        font-size: 2.75em;
        line-height: 1;
        margin: 24px auto 18px
    }

    .head-txt h2 {
        font-size: 1.625em;
        line-height: 1.1;
        margin: 0 auto 20px
    }

    .quote {
        background: url(../../../images/diet-plans/basic-plan/quote-basic-dt.jpg) #e0e686 50% 0 no-repeat;
        background-size: cover;
        margin: auto;
        padding: 0;
        height: 250px
    }

    .men .quote {
        background: url(../../../images/diet-plans/basic-plan/quote-basic-men-dt.jpg) #e0e686 40% 0 no-repeat;
        background-size: cover
    }

    .quote p.h1 {
        font-size: 2em;
        margin: 60px 0 12px
    }

    .quote p.h3 {
        font-size: 1.4em
    }

    .quote p.small {
        position: absolute;
        top: 220px;
        left: 15px;
        margin: 0
    }

    .quote .claim-txt {
        left: 100px;
        top: 50px
    }

    .men .quote .claim-txt {
        left: 130px;
        top: 50px
    }

    .menu {
        background: url(../../../images/diet-plans/basic-plan/sample-day-basic-dt.jpg) no-repeat center top;
        background-size: cover
    }

    .menu #see-eat {
        display: block
    }

    .menu h2 span {
        font-size: 30px
    }

    .menu .well {
        background-color: transparent;
        margin-bottom: 0;
        padding: 0
    }

    .menu p.sub-txt {
        margin: 20px auto 30px
    }

    .menu #see-eat p.menu-item {
        text-align: left;
        margin: 0 0 0 10px;
        font-size: 15px
    }

    .menu .well p strong.text-green {
        font-size: 17px;
        margin-bottom: 8px;
        margin-top: 10px
    }

    .menu .well p.dinner strong.text-green,.menu .well p.eve-snack strong.text-green {
        margin-top: 26px
    }

    .menu #see-eat p.hungry-txt {
        text-align: center
    }

    .menu img.morn-icon {
        width: 47px;
        height: 34px;
        margin-top: 40px
    }

    .menu img.aft-icon {
        width: 47px;
        height: 47px;
        margin-top: 40px
    }

    .menu img.din-icon {
        width: 40px;
        height: 41px;
        margin-top: 40px
    }

    .menu .middle-row {
        height: 150px
    }

    .menu .bg-mint-light {
        background-color: #f9fcf5;
        height: 150px
    }

    .menu .hungry-more {
        background-color: #f9ee92;
        width: 100%;
        margin-top: 30px
    }

    .menu p.hungry-txt {
        margin: 0 auto;
        padding: 36px 0
    }

    .plus-col {
        margin-bottom: 0
    }

    .real {
        background: url(../../../images/diet-plans/basic-plan/food-mod-bg-grn-dt.jpg) no-repeat 40% 0;
        background-size: cover
    }

    .real h2 {
        font-size: 2em;
        text-align: right;
        border-right: 1px solid #ccc;
        margin: 60px 0 24px;
        padding: 0 30px 24px 0
    }

    .real ul {
        margin: 60px 0 24px
    }

    .real ul li {
        font-size: 1
    }

    .real p.no-txt {
        font-size: 1.1em;
        margin: 0 auto 60px
    }

    .faq h3.panel-title {
        font-size: 1.6em;
        margin-left: 15px
    }

    .faq {
        margin-top: 50px
    }

    .faq h2 {
        margin: 0 0 30px;
        width: auto
    }

    .faq .panel-body {
        padding: 15px 30px
    }

    .faq .panel-heading.accordion .panel-title a:after {
        top: 16px
    }

    footer {
        margin-top: 0
    }

    .disclaimer {
        text-align: center
    }

    .hero {
        background: url(../../../images/diet-plans/basic/basicRateCard-animatedHero.webp) no-repeat center top;
        background-size: cover;
        height: 450px;
        position: relative
    }

    .hero h1 {
        font-size: 1.875em;
        text-align: center;
        margin: 65px auto 10px
    }

    .hero h1 span {
        font-size: 1em
    }

    .hero p.h2 {
        font-size: 3.375em;
        text-align: center
    }

    .hero p.h3 {
        font-size: 1.875em;
        text-align: center
    }

    .hero .ctaWrapper {
        margin: 26px auto;
        text-align: center
    }

    .hero .small {
        left: 15%
    }

    .ordernow {
        padding: 0 15px
    }

    .ordernow p span.hidden-xs {
        vertical-align: middle
    }

    .ordernow a {
        margin-left: 20px;
        width: auto
    }

    .satisfy {
        margin-top: 50px
    }

    .satisfy .r1 p.h4 {
        margin: 0 0 20px;
        font-size: 1.625em
    }

    .satisfy .food-vid {
        height: 310px
    }

    .satisfy .h1 {
        font-size: 2.25em
    }

    .satisfy h2 {
        font-size: 1.875em
    }

    .satisfy h2.h1 {
        text-align: center
    }

    .satisfy p.h4 {
        font-size: 1.375em
    }

    .satisfy p.h2 {
        font-size: 1.875em
    }

    .satisfy .r2 {
        margin-top: 40px;
        margin-bottom: 20px font-size:1.5em
    }

    .satisfy .txt-losing {
        padding-left: 0
    }

    .satisfy .txt-rest-faves {
        padding-top: 0;
        padding-left: 0
    }

    .satisfy .txt-microwave {
        padding-top: 30px;
        padding-left: 0
    }

    .satisfy .r4 {
        margin-top: 80px;
        margin-bottom: 80px font-size:1.375em
    }

    .satisfy .food-img img {
        max-width: 375px;
        float: right
    }

    .satisfy .r3 {
        margin-top: 20px
    }

    .satisfy .r3 .small {
        padding: 10px 0 20px
    }

    .heat img.backpack-icon {
        width: 63px;
        max-width: 63px
    }

    .heat img.micro-icon {
        width: 73px;
        max-width: 73px
    }

    .slide h2 {
        margin: 20px 0 0 15px;
        width: auto
    }

    .slide p.h3 {
        margin-bottom: 10px
    }

    .slide .carousel-inner {
        width: 100%;
        left: 0;
        max-width: none;
        height: 360px
    }

    .slide .carousel-control {
        top: 180px;
        color: #4c4c4c
    }

    .men .slide .carousel-control {
        color: #999
    }

    .slide .carousel-indicators {
        position: relative;
        bottom: auto;
        padding-bottom: 0
    }

    .slide .carousel-caption {
        width: 100%;
        top: 10px;
        left: 0
    }

    #science .graph p {
        padding-bottom: 0
    }

    .basichero .hero-img {
        margin-top: 70px;
        height: 222px
    }

    .basichero ol.check-green {
        padding-top: 26px
    }

    .basichero .check-green li:before {
        top: 6px
    }

    .basichero .white-circle {
        top: 10px
    }

    .contest {
        background-color: transparent;
        padding: 0
    }

    .contest .container {
        position: relative
    }

    .contest .text-wrap {
        position: absolute;
        top: 49px;
        left: 186px;
        width: auto
    }

    .contest img {
        display: block;
        margin: 0 auto;
        width: 720px;
        height: auto
    }

    .contest h4 {
        font-size: 2em
    }

    .contest p.h5 {
        font-size: 1.375em
    }

    .contest-rule-link p {
        margin: 0 auto 25px
    }
}

@media(min-width: 992px) {
    img.mbg-hero {
        margin-left:430px
    }

    .hero .hero-img-dt {
        height: 700px;
        background-position: 0 -110px
    }

    .head-txt h1 {
        margin: 0 auto 10px;
        font-size: 3em
    }

    .head-txt h2 {
        font-size: 1.875em;
        margin: 0 auto 25px
    }

    .head-txt h2 span {
        font-size: 30px
    }

    .quote .claim-txt p {
        font-size: 1.375em
    }

    .quote {
        height: 371px
    }

    .quote p.h1 {
        font-size: 2.375em;
        margin: 80px 0 12px
    }

    .quote p.h3 {
        font-size: 1.75em
    }

    .quote .claim-txt {
        left: 90px;
        top: 70px
    }

    .men .quote .claim-txt {
        left: 150px;
        top: 70px
    }

    .quote p.small {
        top: 336px;
        left: 15px
    }

    .menu {
        background-position: 49% top
    }

    .menu p.h5 {
        font-size: 1.375em;
        margin: 50px auto 14px
    }

    .menu .icon-txt {
        font-size: 18px
    }

    .menu #see-eat p.menu-item {
        margin: 0 0 0 10px;
        font-size: 16px
    }

    .menu .well p strong.text-green {
        font-size: 18px;
        margin-top: 20px
    }

    .menu .well p.dinner strong.text-green,.menu .well p.eve-snack strong.text-green {
        margin-top: 22px
    }

    .plus-col img.plus-txt {
        width: 73px;
        height: 38px
    }

    .plus-col h3.h4 {
        font-size: 30px;
        text-align: center;
        margin-top: 50px
    }

    .plus-col p {
        text-align: center;
        margin: 0 auto 50px
    }

    .real ul li {
        font-size: 1.375em
    }

    .real h2 {
        font-size: 2.75em
    }

    .real p.no-txt {
        font-size: 1.6em
    }

    .ordernow p.h5 {
        font-size: 1.625em
    }

    .satisfy .txt-rest-faves {
        padding-top: 90px
    }

    .satisfy .txt-microwave {
        padding-top: 80px
    }

    .satisfy .food-vid {
        height: 324px
    }

    .satisfy h2 {
        margin: 5px 0 20px
    }

    .satisfy .r3 {
        margin: 50px 0
    }

    .satisfy .r1 p.h4 {
        margin: 0 0 40px
    }

    .heat p {
        font-size: 1.375em;
        width: 260px
    }

    .heat img.backpack-icon {
        margin-left: 90px
    }

    .slide .carousel-inner {
        height: 400px
    }

    .basichero .hero-img {
        height: 346px
    }

    .basichero ol.check-green {
        padding-left: 60px
    }

    .contest img {
        width: 783px
    }

    .contest .text-wrap {
        top: 56px;
        left: 283px
    }
}

.clearfix,p.or {
    clear: both
}

@media(min-width: 1200px) {
    img.mbg-hero {
        margin-left:530px
    }

    .quote .claim-txt {
        left: 256px;
        top: 113px
    }

    .men .quote .claim-txt {
        left: 225px;
        top: 75px
    }

    .men .quote,.quote {
        height: 360px;
        background-size: contain;
        background-position: bottom center
    }

    .quote p.h1 {
        margin: 100px 0 12px
    }

    .quote p.small {
        top: 325px
    }

    .menu {
        background-position: 50% top
    }

    .serving-suggestion {
        font-size: 11px;
        font-weight: 700;
        position: absolute;
        bottom: 5px;
        left: 22px;
        color: #fff
    }

    .menu p.h5 {
        margin: 40px auto 14px
    }

    .menu .well {
        padding: 19px 15px
    }

    .real {
        background-position: 50% 0;
        height: 429px
    }

    .real p.no-txt {
        font-size: 1.625em;
        text-align: right
    }

    .real h2 {
        padding: 0 30px 0 0;
        margin-top: 100px
    }

    .real ul {
        margin: 110px 0 24px
    }

    .real ul li {
        margin-bottom: 24px
    }

    .real .list-checked>li:before {
        top: 0;
        left: -9px;
        width: 22px;
        height: 30px
    }

    .real p.no-txt b:nth-child(2),.real p.no-txt b:nth-child(3) {
        margin-left: 25px
    }

    .satisfy .food-vid {
        height: 314px
    }

    .basichero .hero-img {
        height: 420px
    }

    .contest .text-wrap {
        left: 385px
    }
}

@media(min-width: 1400px) {
    .quote .claim-txt {
        left:215px;
        top: 94px
    }
}

#science {
    padding-top: 10px;
    padding-bottom: 20px
}

#science p.h3 {
    font-size: 1.125em;
    margin: 18px 15px 18px
}

#science h4 {
    font-size: 1.125em;
    line-height: 1.5em;
    padding-bottom: 16px
}

#science .graph p {
    padding-left: 15px;
    padding-right: 15px
}

.men #science .graph p {
    margin: 12px auto 0
}

#science .bullets span.fw-700 {
    font-size: 1.125em
}

.men #science .bullets span.fw-900 {
    font-size: 1.125em
}

#science .bullets .pad-adj {
    padding: 0;
    margin-bottom: 15px
}

#science .icon-container {
    width: 58px;
    margin-right: 15px;
    text-align: right;
    vertical-align: top;
    float: left;
    height: 104px
}

#science .icon-container svg {
    width: 100%
}

.men #science .icon-container img.heart-plate {
    width: 48px;
    height: 34px
}

.men #science .icon-container img.fruit-bowl {
    width: 48px;
    height: 39px
}

.men #science .icon-container img.clock-six {
    width: 48px;
    height: 43px
}

.men #science .icon-container img.cookie {
    width: 44px;
    height: 44px
}

@media(max-width: 767px) {
    #science object.dt {
        display:none
    }
}

@media(max-width: 320px) {
    #science .icon-container {
        height:126px
    }
}

@media(min-width: 768px) {
    #science h2 {
        font-size:2.25em
    }

    #science p.h3 {
        font-size: 1.625em
    }

    #science .graph p {
        font-size: 1.375em;
        padding-bottom: 30px
    }

    #science h4 {
        font-size: 1.375em;
        padding-bottom: 26px
    }

    #science object.mob {
        display: none
    }

    #science .bullets .pad-adj {
        margin-bottom: 30px
    }

    #science .bullets .pad-adj:nth-child(2),#science .bullets .pad-adj:nth-child(4) {
        padding-right: 15px
    }
}

@media(min-width: 992px) {
    #science .icon-container {
        width:65px
    }

    #science .bullets .pad-adj:nth-child(2),#science .bullets .pad-adj:nth-child(4) {
        padding-right: 40px
    }
}

@media(min-width: 1200px) {
    #science .bullets .pad-adj:nth-child(3),#science .bullets .pad-adj:nth-child(5) {
        padding-right:56px;
        padding-left: 25px
    }

    #science .bullets .pad-adj:nth-child(2),#science .bullets .pad-adj:nth-child(4) {
        padding-right: 28px;
        padding-left: 63px
    }
}
.men .basic-women, .basic-men ,.contest, .contest-rule-link{
    display: none;
}
.men .basic-men,.men .contest, .men .contest-rule-link{
    display: block;
}
